#cp_email{
	width:946px;
	box-shadow: 3px 5px 20px rgba(0,0,0,.5);
	position:fixed;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	margin:auto;
	text-align: center;
	border-radius: 5px;
	background: white;
	padding-bottom:50px;
}
#cp_email .cp_title{
	height:75px;
	background:#FD6756;
	border-radius: 5px 5px 0px 0px;
	color:white;
	font-size:25px;
	font-weight: bold;  
	line-height: 75px;
}
#cp_email h3{
	font-size:20px;
	margin-top:38px;
}
#cp_email form{
	display: block;
	width:340px;
	margin:0px auto;
}
#cp_email form>div{
	position: relative;
}
#cp_email form>div>span{
	position: absolute;
	color: #b71212ed;
	top: 50%; right: 0;
	transform: translate3d(120%,-50%,0);
}
#cp_email form>div>span.hidd{
	display: none;
}
#cp_email .my_email{
	width:340px;
	box-sizing: border-box;
	border:2px solid #F7F7F7;
	display:block;
	margin:0px auto;
	background:#FAFAFA;
	height:50px;
	border-radius: 5px;
	margin: 16px 0 22px ;
	padding-left:10px;
}
#cp_email .my_email::-webkit-input-placeholder{
	color:#909090;
	font-size:14px;
}
#cp_email .my_email:nth-child(2){
	margin-top:17px;
	margin-bottom:16px;
}
#cp_email .my_email:nth-child(3){
	margin-bottom:16px;
	margin-top:17px;
}
#cp_email .cp_sub{
	width:160px;
	height:44px;
	background:#FD6756;
	color:white;
	font-size: 14px;
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: 1px;
	float: left;
	margin-right: 17px;
	cursor: pointer;
}
#cp_email .cp_sub:hover{
	background: #fcad86;
}
#cp_email .cp_back{
	width:160px;
	height:44px;
	line-height: 44px;
	color:#3E3E3E;
	font-size: 14px;
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: 1px;
	border:2px solid #BFBFBF;
	float: right;
	box-sizing: border-box;
}