.wzq_left_nav .wzq_left_nav_item:nth-child(1) a .wzq_icon{
    background-position:-46px -41px;
}
.wzq_left_nav .wzq_left_nav_item:nth-child(2) a .wzq_icon{
    background-position:-46px -19px;
}
.wzq_left_nav .wzq_left_nav_item:nth-child(3) a .wzq_icon{
    background-position:-46px -142px;
}
.wzq_left_nav .wzq_left_nav_item:nth-child(4) a .wzq_icon{
    background-position:-46px -120px;
}
.wzq_left_nav .wzq_left_nav_item:nth-child(5) a .wzq_icon{
    background-position:-44px -60px;
}
.wzq_left_nav .wzq_left_nav_item:nth-child(6) a .wzq_icon{
    background-position:-46px 2px;
}