.wqf_content{
	padding:30px 68px 150px 36px;
	margin-top: 22px;
	background: #fff;
}

.wqf_content>li{
	margin-bottom: 45px;
}
.wqf_content>li>.questions{
	color: #7c7c7c;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}
.wqf_content>li>.questions i{
	color: #fd6756;
}
.wqf_content>li>.answer{
	color: #7c7c7c;
	font-size: 20px;

}
.wqf_content>li>.answer i{
	float: left;
}
.wqf_content>li>.answer span{
	max-width: 800px;
	float: left;
}

.wqf_content>li i{
	margin-right: 15px;
}