.wzq_mbx{
    font-size: 14px;
    color: #5d5d5d;
    padding: 30px 0 10px;
}
.wzq_work_content_list{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 30px 0 0 38px;
    background: #fff;
}
.wzq_work_content_item{
    width: 262px;
    height: auto;
    float: left;
    margin-right: 40px;
    margin-bottom: 60px;
}
.wzq_work_content_item>a{
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #f8f8f8;
}
.wzq_work_content_item .wzq_work_item_img{
    width: 100%;
    height: 144px;
    border-radius: 5px;
    overflow: hidden;
}
.wzq_work_content_item .wzq_work_item_img img{
    width: 100%;
}
.wzq_work_content_item h5.wzq_work_item_title{
    font-size: 20px;
    color: #5d5d5d;
    font-weight: bold;
    line-height: 2;
}
.wzq_work_content_item h6.wzq_work_item_info{
    font-size: 12px;
    color: #b8b8b8;
    padding-bottom: 14px;
    font-weight: normal;
}
.wzq_work_content_item h6.wzq_work_item_info span:nth-child(2){
    float: right;
}
.wzq_work_content_item .wzq_work_item_status{
    width: 100%;
    height: 40px;
    color: #5d5d5d;
    font-size: 14px;
    line-height: 40px;
}
.wzq_work_content_item .wzq_work_item_status .wzq_work_comment{
    margin-right: 30px;
}
.wzq_work_content_item .wzq_work_item_status .fy_icon{
    color: #b4b4b4;
    margin-right: 5px;
}
.wzq_work_content_item .wzq_work_item_status .wzq_work_zan{
    cursor: pointer;
}
.wzq_work_content_item .wzq_work_item_status .wzq_work_zan.wzq_work_zanend .fy_icon{
    color: #f5a31e;
}