<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>修改密码</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/changePassword.css">
</head>
<body>
	<div id="cp_email">
		<div class="cp_title">
			账号安全
		</div>
		<h3>修改密码</h3>
		<form action="changePassword" method="post">
			<input type="password" name='password' class='my_email' placeholder="原密码">
			<p style="color: red;" th:text="${message}"></p>
			<input type="password" name='passwordOld' class='my_email my_pass' placeholder="新密码">
			<input type="password" name='passwordNew' class='my_email my_pass' placeholder="确认新密码">
			<input type="button" class='cp_sub'  type="submit" value='确定'>
			<a href="changePassword" class='cp_back'>
				返回
			</a>
		</form>
	</div>
</body>
</html>