<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>修改密码</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/changePassword.css">
	<script src="js/jquery.min.js"></script>
</head>
<body>
	<div id="cp_email">
		<div class="cp_title">
			账号安全
		</div>
		<h3>修改密码</h3>
		<form action="changePassword" method="post">
			<div>
				<input type="password" name='password' class='my_email' placeholder="原密码">
				<span class="hidd">原密码错误</span>
			</div>
			<p style="color: red;" th:text="${message}"></p>
			<div>
				<input type="password" name='passwordOld' class='my_email my_pass' placeholder="新密码">
			</div>
			<div>
				<input type="password" name='passwordNew' class='my_email my_pass' placeholder="确认新密码">
				<span class="hidd">两次密码不同</span>
			</div>
			<input  class='cp_sub'  type="submit" value='确定'>
			<a href="personal_set" class='cp_back'>
				返回
			</a>
		</form>
	</div>
</body>
</html>