<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>详情-评论页</title>
	<meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="keywords" content="飞鱼平台" />
    <meta name="description" content="飞鱼平台" />
    <link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/wzq_show_work.css">
    <link rel="stylesheet" href="css/cp_comment.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_614432_1smgafue2yg8ehfr.css">
</head>
<body>
<div th:include="backend/wy_header" ></div>
	<!-- 面包屑导航 -->
    <div class="cp_head">
        <div class="cp_breadCrumb">
            <a href="index">首页</a>
            <i class='fy_icon'>&#xe604;</i>
            <a href="findCourse">找课程</a>
            <i class='fy_icon'>&#xe604;</i>
            <a href="#">课程详情</a>
        </div>
    </div>
    <!-- 面包屑导航结束 -->

	<!-- 产品详情 -->
    <div class="cp_purchase">
        <!-- 产品售价区 -->
        <div class="cp_product">
            <div class="con_left">
                <a href="#">
                    <img src="images/cp_10.png" th:src="${course.course_image_address}">
                </a>  
            </div>
            <div class="con_right">
                <div class="con_son1">
                    <h3 class="hidden_one" th:text="${course.course_name}">Python课程初探</h3>
                    <a href="#" class='group'>
                        <img src="images/cp_11.png">
                        <span>
                            加群咨询
                        </span>
                    </a>
                    <div class="share">
                        分享到
                        <a href="#">
                            <i class='fy_icon'>&#xe62f;</i>
                        </a>
                        <a href="#">
                            <i class='fy_icon'>&#xe60b;</i>
                        </a>
                        <a href="#" class='wechat' >
                            <i class='fy_icon'>&#xe65b;</i>
                        </a>
                    </div>
                </div>
                <div th:text="${course.course_info}" class="con_son2 hidd_more2">
                    Python是什么？豆瓣和Youtube是用它开发的；美国最流行的三大服务器开发语言之一，最工整最严谨的编程语言，取代Java和PHP的开源趋势语言。 
                </div>
                <div class="con_son3">
                    <span>
                        学习人数
                        <b th:text="${course.student_count}">899</b>
                    </span>
                    <span>
                        课程时长
                        <b th:text="${courseTime}+'分钟'">160分钟</b>
                    </span>
<!--                     <span>
                        点赞
                        <b>10</b>
                    </span> -->
                </div>
            <div class="con_son4">	
               本节价格<b th:text="(${course.course_price}==0?'免费':(${course.course_price} == -1? '已购买': ${course.course_price}))">300</b><span th:text="(${course.course_price}==0?'':(${course.course_price} == -1? '': '元'))">元</span>
            </div>
            <div class="con_son5">
               <a href="javascript:;" id="buy" class='putchase' th:class="(${course.course_price}==0?'':(${course.course_price} == -1? '': 'putchase'))" th:text="(${course.course_price}==0?'':(${course.course_price} == -1? '': '立即购买'))">
                   立刻购买
               </a>
               <a th:href="'course_chapter?courseId='+${course.id}" class='study' th:class="(${course.course_price}==0?'putchase':(${course.course_price} == -1? 'putchase': ''))" th:text="(${course.course_price}==0?'去学习':(${course.course_price} == -1? '去学习': ''))">
                   去学习
               </a>
               <a href="javascript:;" class='study' id="collect"  th:style="${display == 0 ? 'display:block':'display:none'}" >
                   收藏该课程
               </a>
               <a href="javascript:;" class='study' id="uncollect" th:style="${display == 0 ? 'display:none':'display:block'}">
                  取消收藏
               </a>
               
               <a href="#" th:href="'course_video?chapterId='+${goStudy}"  th:text="${course.course_price == 0 ? '':'试听一节课'}">试听5分钟</a>
            </div>
            </div>
        </div>
        <!-- 产品售价区结束 -->
        
        <!-- tab分类布局 -->
        <ul class="cp_tabBox">
            <li>
                <a href="course_chapter" th:href="'course_chapter?courseId='+${course.id}">
                    章节
                </a>
            </li>
            <li class='active' >
                <a href="#">
                    评论
                </a>
            </li>
<!-- 作业展示 未实现 -->
<!--             <li>
                <a href="course_jobDisplay">
                    作业展示
                </a>
            </li> -->
        </ul>
        <!-- tab分类布局结束 -->
    </div>


    <!-- tab分类内容 -->
    <div class="cp_tabCon">
        <div class="tips">
            全部评论 <span th:text="${commentCount}">20</span>
        </div>
        <div class="container">
            <div class="col_left">
                <!--添加评论列表开始-->
                <div class="wzq_show_comment_add">
                    <form action="javascript:;" class="wzq_add_form wzq_clear">
                        <div class="wzq_clear">
                            <div class="wzq_user_img">
                                <img src="images/wzq_user_img.jpg" th:src="${userInfo.head_image} == null? 'images/wzq_user_img.jpg': ${userInfo.head_image}" alt="">
                            </div>
                            <div class="wzq_textarea">
                                <textarea name="" id="wzq_textarea" onfocus="if(value=='快来发布评论吧...') {value=''}" onblur="if(value=='') {value='快来发布评论吧...'}">快来发布评论吧...</textarea>
                            </div>
                            <input type="hidden" th:value="${course.id}" name="courseId" id="courseId">
                            <input type="hidden" th:value="${userId}" name="userId" id="userId"> 
                        </div>
                        <div class="wzq_icon_add">
                            <span data-icon-flag="true">添加表情</span>
                            <div class="wzq_icon_box">

                            </div>
                        </div>
                        <div class="wzq_add_submit"><input type="button" value="发表评论"></div>
                    </form>
                </div>
                <!--添加评论列表开结束-->

                <!--评论列表开始-->
                <ul class="wzq_show_comment_list wqf_comment">
                    <li class="wzq_show_comment_item" th:each="c:${commentList}">
                        <div class="wzq_clear">
                            <div class="wzq_user_img">
                                <img src="images/wzq_user_img.jpg"  th:src="${c.head_image}" alt="">
                            </div>
                            <!--评论区内容开始，回复评论区时候，添加此节点-->
                            <div class="wzq_comment_item_info">
                                <h6 class="wzq_comment_item_title" th:text="${c.nickName}">也入耳朵</h6>
                                <span class="wzq_comment_item_time" th:text="${#calendars.format(c.updateTime,'yyyy')}+'年'+${#calendars.format(c.updateTime,'MM')}+'月'+${#calendars.format(c.updateTime,'dd')}+'日'">5小时前</span>
                                <div class="wzq_comment_item_des">
                                    <p class="hidd_more" th:text="${c.content}">向手写大佬低头～向手写大佬低头～向手写大佬低头～效果图？太牛了吧。什么软件做的？？？？效果图？太牛了吧。什么软件做的？？？？</p>
                                    <div class="wzq_comment_reply">
                                        <span class="wzq_jubao"><i class="fy_icon">&#xe652;</i>举报</span>
                                        <span title="回复" class="wzq_comment_replys" data-flag="true"><i class="fy_icon">&#xe679;</i></span>
                                        <span class="wzq_comment_zan wzq_comment_zanend"><i class="fy_icon">&#xe6b3;</i></span>
                                    </div>
                                </div>
                            </div>
                            <!--评论区内容结束-->
                        </div>
                        <!--评论区回复表单开始-->
                        <div class="wzq_reply">
                            <form action="" class="wzq_reply_form">
                                <div class="wzq_reply_text">
                                    <span>回复</span>
                                    <em class="wzq_reply_user hidden_one">小灰灰灰</em>
                                    <textarea class="wzq_reply_textarea" name="" onfocus="if(value=='请回复...') {value=''}" onblur="if(value=='') {value='请回复...'}">请回复...</textarea>
                                </div>
                                <div class="wzq_clear">
                                    <div class="wzq_icon_add">
                                        <span data-icon-flag="true">添加表情</span>
                                        <div class="wzq_icon_box">

                                        </div>
                                    </div>
                                    <div class="wzq_reply_submit"><input type="submit" value="回复"></div>
                                </div>
                            </form>
                        </div>
                        <!--评论区回复表单结束-->
                </ul>
                <!--评论列表结束-->
                

                <!-- 查看更多评论开始 -->
<!--                 <div class="wzq_show_comment_more">
                    <div class="wzq_show_more">
                        <span>查看更多评论</span>
                        <i class="fy_icon">&#xe98f;</i>
                    </div>
                </div>  -->
                <!-- 查看更多结束 -->
                

                <!-- 无评论开始 -->
                <!-- <div class="noComment">
                     <div class="con">
                         <img src="images/cp_13.png" alt="">
                         <p>
                            还没有人<a href="#">评论</a><br>我来成为第一个提问的人
                         </p>
                     </div>
                </div> -->
                <!-- 无评论结束 -->



            </div>
            <div class="col_right">
                <div class="photo" style="background:url('images/cp_12.png') no-repeat center ;"  th:style="'background: url('+${teacher.teacher_image}+') no-repeat center /cover;'">
                   <!--  <img src="images/cp_12.png" alt=""> -->
                    <span>
                        V
                    </span>
                </div>
                <h3 th:text="${teacher.teacher_name}">讲师姓名</h3>
                <h4 th:text="${teacher.teacher_position}">全栈工程师</h4>
                <div class="line"></div>
                <p th:text="${teacher.teacher_info}">基本必备：JAVA基础，spring基础，对json，redis有一定的了解老师告诉你能学到什么？了解springboot如何从零搭开始搭建一个工程。
                </p>
            </div>
        </div>
    </div>
     <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" th:inline="javascript">
		var userId=[[${userId}]]
		var courseId=[[${course.id}]]
		var isBuy = [[${isBuy}]];
</script>
<script>
	var buyBox = $(".buyBox")
	if (!isBuy) {
		buyBox.css({display:"none"})
	}
	$(".buyBox a:last-child").click(function(){
		buyBox.css({display:"none"})
	})
	
	
	var loginBox = $(".loginBox")
	$("#buy").click(function(){
		if(userId){
			location.href = "buy"
		}else{
			loginBox.css({display:"block"})
		}
	})
	$(".loginBox a:first-child").click(function(){
		location.href = "login"
	})
	$(".loginBox a:last-child").click(function(){
		loginBox.css({display:"none"})
	})
</script>
    
    <script>
	/* 收藏课程 */
	var collect = $("#collect")
	var uncollect = $("#uncollect")
	collect.click(function(){
		if(userId!=null){
			$.ajax({
				url: 'course_collect',
				method:"post",
				data:{
					userId : userId,
					courseId : courseId
				},
				success: function(){
					collect.css({display:'none'})
					uncollect.css({display:'block'})
				}
			})
		}else{
			getTips("未登录","点击此处登录","login")
		}
		
	})
	//  取消收藏
	
	uncollect.click(function(){
		$.ajax({
			url: 'course_uncollect',
			method:"post",
			data:{
				userId : userId,
				courseId : courseId
			},
			success: function(){
				uncollect.css({display:'none'})
				collect.css({display:'block'})
			}
		})
	})
    </script>
    
    <script src="js/wzq_show_work.js"></script>
    <div th:include="backend/wy_footer"></div> 

	
	<div class="isLogin_box loginBox" style="display:none">
		<div class="isLogin">
			<h2>温馨提示</h2>
			<p>亲，您还没有登录哦~</p>
			<div class="btn">
				<a href="javascript:;">去登录</a>
				<a href="javascript:;">取消</a>
			</div>
		</div>
	</div>
	
	   	<div class="isLogin_box buyBox" style="display:none">
		<div class="isLogin">
			<h2>温馨提示</h2>
			<p>亲，您还没有购买哦~</p>
			<div class="btn">
				<a href="">去购买</a>
				<a href="javascript:;">取消</a>
			</div>
		</div>
	</div>
    
</body>
</html>