<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>搜索结果-课程频道</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="keywords" content="飞鱼平台" />
    <meta name="description" content="飞鱼平台" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/public_header.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/headerfooter.js"></script>

    <link rel="stylesheet" href="css/cp_noResult.css">
    <link rel="stylesheet" href="css/cp_courseChannel.css">
</head>
<body>
    <!-- 头部 开始 -->
        
    <!-- <div th:include="backend/wy_header" ></div> -->
    <div id="public_header" th:include="backend/wy_header :: head"></div>
    <script th:include="backend/wy_header :: js_head"></script>  
    <!-- 头部 结束 -->
    
    <!-- 面包屑导航 -->
    <div class="cp_head">
        <div class="cp_breadCrumb">
            <a href="index.html">首页</a>
            <span>&gt;</span>
            <a href="findCourse">找课程</a>
        </div>
    </div>
    
    <!-- 面包屑导航结束 -->
    
        <!-- 搜索无结果提示 -->
    <div class="cp_searchError"  th:style="(${code}==404?'':'display:none')">
        <div class="con hidden_one">
            系统没有找到您搜索的<span th:text="${message}">pyttoe</span>，请试试以下课程
<!--             您是否在找<a href="#">python</a> -->
        </div> 
    </div>
    

    <!-- 选项 -->
<!--     <div class="cp_conList">
        <ul class="cp_contentList">
            <li><a href="professionalNavigation">职业导航 </a><span></span></li>
            <li class='active'><a href="#">课程频道</a> <span></span></li>
        </ul>
    </div> -->
    

    <!-- 选项内容 -->
       <!-- 选项内容 -->
    <ul class="cp_main">
        <li th:each="course : ${courseList}">
            <div class="cp_imgBox">
                <a href="#" th:href="'course_chapter?courseId='+${course.id}">
                    <img src="images/cp_1.png" th:src="${course.course_image_address}" alt="图片加载出错">
                </a>
            </div>
            <div class="cp_content">
                <a href="#" th:href="'course_chapter?courseId='+${course.id}">
                    <h3 class='hidden_one' th:text="${course.course_name}">Python自动化开发-类Zabbix监控项目</h3>
                    <p th:text="${course.course_info}">目标：了解产品定位和战略制定的方法；...这部分是无漏设计的重点，但产品经理主要掌握的就是三大架构和功能架构设计。要点：产品设计，既要满足商业需求，又要满足用户体验，同时所有功能要形成体系不能冲突。</p>
                </a>
                <div class="cp_icon">
                    <span>
                        <i class='fy_icon'>&#xe626;</i>
                        <b th:text="${course.time}">20</b> 分钟
                    </span>
                    <span th:text="${course.student_count}+'人正在学习'">300人正在学习</span>
                </div>
            </div>
            
        </li>

    </ul>

    <!-- 相关搜索 -->
    <div class="cp_search">
<!--         <h4>相关搜索</h4> -->
        <div class="cp_con">
<!--             <a href="#">用户界面设计原则</a>
            <a href="#">用户界面设计原则</a>
            <a href="#">用户界面设计原则</a> -->
        </div>
    </div>


    <!-- 分页 -->
    
<!--     <ul class="cp_paging">
        <li class='cp_first '><a href="#">首页</a></li>
        <li class="cp_firstPage btn_active">
            <a href="#">上一页</a>
        </li>
        <li class="cp_num">
            <a href="#">1</a>
        </li>
        <li class="cp_num  num_active">
            <a href="#">2</a>
        </li>
        <li class="cp_num" >
            <a href="#">3</a>
        </li>
        <li class="cp_num" >
            <a href="#">4</a>
        </li>
        <li class="cp_num" >
            <a href="#">5</a>
        </li>
        <li class="cp_num" >
            <a href="#">6</a>
        </li>

        <li class='cp_last'>
            <a href="#">尾页</a>
        </li>
        <li class='cp_lastPage'>
            <a href="#">下一页</a>
        </li>
    </ul> -->
    
   <!-- 底部 -->
   <div id="public_footer" th:include="backend/wy_footer :: foot"></div>
   <script th:include="backend/wy_header :: js_foot"></script>  
   <!-- <div th:include="backend/wy_footer"></div>  -->
   <!-- 底部  结束 -->
</body>
</html>