<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>详情模块—作业展示页</title>
	<meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="keywords" content="飞鱼平台" />
    <meta name="description" content="飞鱼平台" />
    <link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/cp_comment.css">
    <link rel="stylesheet" href="css/wzq_work.css">
    <link rel="stylesheet" href="css/cp_jobDisplay.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_614432_1smgafue2yg8ehfr.css">
</head>
<body>
	<!-- 面包屑导航 -->
    <div class="cp_head">
        <div class="cp_breadCrumb">
            <a href="index">首页</a>
            <i class='fy_icon'>&#xe604;</i>
            <a href="#">找课程</a>
            <i class='fy_icon'>&#xe604;</i>
            <a href="#">课程详情</a>
        </div>
    </div>
    <!-- 面包屑导航结束 -->

	<!-- 产品详情 -->
    <div class="cp_purchase">
        <!-- 产品售价区 -->
        <div class="cp_product">
            <div class="con_left">
                <a href="#">
                    <img src="images/cp_10.png">
                </a>  
            </div>
            <div class="con_right">
                <div class="con_son1">
                    <h3 class="hidden_one">Python课程初探</h3>
                    <a href="#" class='group'>
                        <img src="images/cp_11.png">
                        <span>
                            加群咨询
                        </span>
                    </a>
                    <div class="share">
                        分享到
                        <a href="#">
                            <i class='fy_icon'>&#xe62f;</i>
                        </a>
                        <a href="#">
                            <i class='fy_icon'>&#xe60b;</i>
                        </a>
                        <a href="#" class='wechat' >
                            <i class='fy_icon'>&#xe65b;</i>
                        </a>
                    </div>
                </div>
                <div class="con_son2 hidd_more2">
                    Python是什么？豆瓣和Youtube是用它开发的；美国最流行的三大服务器开发语言之一，最工整最严谨的编程语言，取代Java和PHP的开源趋势语言。 
                </div>
                <div class="con_son3">
                    <span>
                        学习人数
                        <b>899</b>
                    </span>
                    <span>
                        课程时长
                        <b>160分钟</b>
                    </span>
                    <span>
                        点赞
                        <b>10</b>
                    </span>
                </div>
                <div class="con_son4">
                   本节价格<b>300</b><span>元</span>
                </div>
                <div class="con_son5">
                   <a href="#" class='putchase'>
                       立刻购买
                   </a>
                   <a href="#" class='study'>
                       去学习
                   </a>
                   <a href="#">试听5分钟</a>
                </div>
            </div>
        </div>
        <!-- 产品售价区结束 -->
        
        <!-- tab分类布局 -->
        <ul class="cp_tabBox">
            <li >
                <a href="course_chapter">
                    章节
                </a>
            </li>
            <li>
                <a href="course_comment">
                    评论
                </a>
            </li>
            <li class='active'>
                <a href="#">
                    作业展示
                </a>
            </li>
        </ul>
        <!-- tab分类布局结束 -->
    </div>


    <!-- tab分类内容 -->
    <div class="cp_tabCon">
        <div class="tips">
            全部评论 <span>20</span>
        </div>
        <div class="container">
            <div class="col_left">

                <div class="wzq_content">
                    <!--作业列表开始-->
                    <ul class="wzq_work_content_list wzq_clear">
                        <li class="wzq_work_content_item">
                            <a href="">
                                <div class="wzq_work_item_img">
                                    <img src="images/wzq_work_img.jpg" alt="">
                                </div>
                                <h5 class="wzq_work_item_title hidden_one">飞鱼平台网页</h5>
                                <h6 class="wzq_work_item_info"><span>网页-企业官网</span> <span>2018.03.11</span></h6>
                            </a>
                            <p class="wzq_work_item_status">
                                <span class="wzq_work_comment"><i class="fy_icon">&#xe679;</i>2</span>
                                <span class="wzq_work_zan wzq_work_zanend"><i class="fy_icon">&#xe6b3;</i>1</span>
                            </p>
                        </li>
                        <li class="wzq_work_content_item">
                            <a href="">
                                <div class="wzq_work_item_img">
                                    <img src="images/wzq_work_img.jpg" alt="">
                                </div>
                                <h5 class="wzq_work_item_title hidden_one">飞鱼平台网页</h5>
                                <h6 class="wzq_work_item_info"><span>网页-企业官网</span> <span>2018.03.11</span></h6>
                            </a>
                            <p class="wzq_work_item_status">
                                <span class="wzq_work_comment"><i class="fy_icon">&#xe679;</i>2</span>
                                <span class="wzq_work_zan "><i class="fy_icon">&#xe6b3;</i>1</span>
                            </p>
                        </li>
                        <li class="wzq_work_content_item">
                            <a href="">
                                <div class="wzq_work_item_img">
                                    <img src="images/wzq_work_img.jpg" alt="">
                                </div>
                                <h5 class="wzq_work_item_title hidden_one">飞鱼平台网页</h5>
                                <h6 class="wzq_work_item_info"><span>网页-企业官网</span> <span>2018.03.11</span></h6>
                            </a>
                            <p class="wzq_work_item_status">
                                <span class="wzq_work_comment"><i class="fy_icon">&#xe679;</i>2</span>
                                <span class="wzq_work_zan "><i class="fy_icon">&#xe6b3;</i>1</span>
                            </p>
                        </li>
                        <li class="wzq_work_content_item">
                            <a href="">
                                <div class="wzq_work_item_img">
                                    <img src="images/wzq_work_img.jpg" alt="">
                                </div>
                                <h5 class="wzq_work_item_title hidden_one">飞鱼平台网页</h5>
                                <h6 class="wzq_work_item_info"><span>网页-企业官网</span> <span>2018.03.11</span></h6>
                            </a>
                            <p class="wzq_work_item_status">
                                <span class="wzq_work_comment"><i class="fy_icon">&#xe679;</i>2</span>
                                <span class="wzq_work_zan "><i class="fy_icon">&#xe6b3;</i>1</span>
                            </p>
                        </li>
                        <li class="wzq_work_content_item">
                            <a href="">
                                <div class="wzq_work_item_img">
                                    <img src="images/wzq_work_img.jpg" alt="">
                                </div>
                                <h5 class="wzq_work_item_title hidden_one">飞鱼平台网页</h5>
                                <h6 class="wzq_work_item_info"><span>网页-企业官网</span> <span>2018.03.11</span></h6>
                            </a>
                            <p class="wzq_work_item_status">
                                <span class="wzq_work_comment"><i class="fy_icon">&#xe679;</i>2</span>
                                <span class="wzq_work_zan "><i class="fy_icon">&#xe6b3;</i>1</span>
                            </p>
                        </li>
                        <li class="wzq_work_content_item">
                            <a href="">
                                <div class="wzq_work_item_img">
                                    <img src="images/wzq_work_img.jpg" alt="">
                                </div>
                                <h5 class="wzq_work_item_title hidden_one">飞鱼平台网页</h5>
                                <h6 class="wzq_work_item_info"><span>网页-企业官网</span> <span>2018.03.11</span></h6>
                            </a>
                            <p class="wzq_work_item_status">
                                <span class="wzq_work_comment"><i class="fy_icon">&#xe679;</i>2</span>
                                <span class="wzq_work_zan "><i class="fy_icon">&#xe6b3;</i>1</span>
                            </p>
                        </li>
                    </ul>
                    <!--作业列表结束-->
                </div>
                

                 <!-- 查看更多评论开始 -->
                <div class="wzq_show_comment_more">
                    <div class="wzq_show_more">
                        <span>查看更多评论</span>
                        <i class="fy_icon">&#xe98f;</i>
                    </div>
                </div> 
                <!-- 查看更多结束 -->


                <!-- 无评论开始 -->
               <!--  <div class="noComment">
                     <div class="con">
                         <img src="images/cp_13.png" alt="">
                         <p>
                           称为第一个<a href="#">上传作业</a>的人吧！
                         </p>
                     </div>
                </div> -->
                <!-- 无评论结束 -->



            </div>
            <div class="col_right">
                <div class="photo" style="background:url('images/cp_12.png') no-repeat center ;">
                   <!--  <img src="images/cp_12.png" alt=""> -->
                    <span>
                        V
                    </span>
                </div>
                <h3>讲师姓名</h3>
                <h4>全栈工程师</h4>
                <div class="line"></div>
                <p>基本必备：JAVA基础，spring基础，对json，redis有一定的了解老师告诉你能学到什么？了解springboot如何从零搭开始搭建一个工程。
                </p>
            </div>
        </div>
    </div>
     <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/wzq_show_work.js"></script>
</body>
</html>