<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>客服</title>
	<meta charset="UTF-8">
	<title>客服-弹出框</title>
	<meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="keywords" content="飞鱼平台" />
    <meta name="description" content="飞鱼平台" />
    <link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/select-city.css">
    <link rel="stylesheet" href="css/cp_kefu.css">
    <link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_614432_1smgafue2yg8ehfr.css">
</head>
<body>
	<div class="cp_kefu">
		<!-- 标题 -->
		<div class="cp_title">
			王老师正在与您沟通...
		</div>
		<!-- 回复窗口 -->
		<div class="cp_view">
			<div class="cp_say">
				<div class="image">
					<a href="#">
						<img src="images/cp_14.png" alt="">
					</a>
				</div>
				<div class="con">
					您好，请问您要咨询什么课程？
				</div>
			</div>
			<div class="cp_say cp_reply">
				<div class="image">
					<a href="#">
						<img src="images/cp_14.png" alt="">
					</a>
				</div>
				<div class="con">
					您好，请问您要咨询什么课程？
				</div>
			</div>
			<div class="cp_say">
				<div class="image">
					<a href="#">
						<img src="images/cp_14.png" alt="">
					</a>
				</div>
				<div class="con">
					您好，请问您要咨询什么课程？
				</div>
			</div>
		</div>
		<!-- 输入窗口 -->
		<div class="cp_input">
			<form action="">
				<textarea name="" id="" cols="30" rows="10" placeholder="请输入"></textarea>
				<div class="cp_way">
					<input type="file" name="file" style='display:none;' id='upload'>
					<i class='fy_icon'>&#xe61e;</i>
					<label class='fy_icon' for='upload'>&#xe61f;</label>
				</div>
				<input type="submit" value='发送' class='cp_sub' >
			</form>
		</div>
	</div>


	<!-- 反馈弹出框 -->
	<div class="cp_feedBack">
		<div class="cp_title">
			我们珍视您的每一条反馈
		</div>
		<div class="cp_con">
			<form action="">
				<div class='cp_select'>
					<i class='fy_icon cp_drop' >&#xe695;</i>
					<select name="month" id="month">
						<option value="">请选择问题类型</option>
					</select>
				</div>
				<div class="cp_text">
					<textarea placeholder="请输入问题描述"></textarea>
					<p>还可以输入<span>200</span>字</p>
				</div>
				<div class="cp_way">
					<input type="file" name="file" style='display:none;' id='upload'>
					<i class='fy_icon'>&#xe61e;</i>
					<label class='fy_icon' for='upload'>&#xe61f;</label>
				</div>
				<div class="cp_sub">
					<input type="submit" class='sub'  value='提交作业'>
					<input type="reset" class='restart' value='取消'>
				</div>	
			</form>
		</div>
	</div>



	<!-- 付费窗口 -->
	<div class="cp_pay">
		<!-- 关闭按钮 -->
		<div class="close">
			<i class='fy_icon'>&#xe621;</i>
		</div>
		<!-- 支付提示 -->
		<div class="pay_error">
			<a href="#">
				<i class='fy_icon'>&#xe66b;</i>
				支付遇到问题
			</a>
		</div>
		<div class="con_left">
			<span class='title'>
				确认订单信息
			</span>
			<div class="card">
			</div>
			<p class='con1'>Python课程初探</p>
			<p class='con2'>总价<b>336</b></p>
		</div>
		<div class="con_right">
			<div class="list1">
				选择支付方式
			</div>
			<div class="list2">
				<div class="wechat">
					<div class="image">
						<img src="images/cp_16.png">
					</div>
					<p>
						<i class='fy_icon'>&#xe65b;</i>
						使用微信扫码付款
					</p>
				</div>
				<div class="alipay">
					<div class="image">
						<img src="images/cp_16.png">
					</div>
					<p>
						<i class='fy_icon'>&#xe65f;</i>
						使用支付宝扫码付款
					</p>
				</div>
			</div>
			<div class="list3">
				<span>使用优惠券<i class='fy_icon'>&#xe695;</i></span>
				<a class='why'>
					什么是优惠券
				</a>
			</div>
			<div class="list4">
				共<span class='sum'>1</span>件商品，商品总金额 <b>336.00</b>
			</div>
			<div class="list5">
				提交订单
			</div>
		</div>
	</div>
</body>
</html>