<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>视频</title>
	<meta charset="UTF-8">
	<title>飞鱼平台-课程详情</title>
	<meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="keywords" content="飞鱼平台" />
    <meta name="description" content="飞鱼平台" />
    <link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/cp_videoWork.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_614432_gmnl71zjylcsdcxr.css">
	<script type="text/javascript" src="js/ckplayer.js"></script>
</head>
<body>
		<!-- 头部 -->
	<div class="cp_head">
		<!-- 左侧 -->
		<div class="cp_return">
			<a href="#">
				<i class='fy_icon'>&#xe7a7;</i>
			</a>
			<span>
				SpringBoot极速入门到整合
			</span>
		</div>
		
		<!-- 右侧 -->
		<div class="cp_share">
			<a href="#">分享到</a>
			<a href="#">
				<i class='fy_icon'>&#xe65b;</i>
			</a>
			<a href="#">
				<i class='fy_icon'>&#xe60b;</i>
			</a>
			<a href="#">
				<i class='fy_icon'>&#xe63d;</i>
			</a>
			<a href="#" class='sign'>
				<span>1</span>
				<i class='fy_icon'>&#xe628;</i>
			</a>
			<span class='cp_line'></span>
			<a href="#" class='image'>
				<img src="images/cp_14.png" alt="">
			</a>
		</div>
	</div>


	<div class="cp_videoBox">
		<div class="cp_video">
			<div id="video" style="width: 100%; height:100%;"></div>
		</div>
		<div class="cp_work">
			<div class="cp_cate">
				<span>
					章节
				</span>
				<span  class='active'>
					笔记
				</span>
			</div>
			<div class="cp_div cp_tab">
				<ul class="hidden_one">
					<span class='title'>第1章</span> SpringBoot简介
					<li class='hidden_one' >
						<i class='fy_icon'>&#xe629;</i>
						<span>1-1</span> 
						SpringBoot简介
					</li>
					<li class='hidden_one'>
						<i class='fy_icon'>&#xe629;</i>
						<span>1-2</span>
						SpringBoot简介
					</li>
					<li class='hidden_one active'>
						<i class='fy_icon'>&#xe790;</i>
						<span>1-2</span>
						SpringBoot简介(02:00)
						<b>正在学</b>
					</li>
				</ul>
				<ul class="hidden_one">
					<span class='title'>第1章</span> SpringBoot简介
					<li class='hidden_one' >
						<i class='fy_icon'>&#xe629;</i>
						<span>1-1</span> 
						SpringBoot简介
					</li>
					<li class='hidden_one'>
						<i class='fy_icon'>&#xe629;</i>
						<span>1-2</span>
						SpringBoot简介
					</li>
					<li class='hidden_one active'>
						<i class='fy_icon'>&#xe790;</i>
						<span>1-2</span>
						SpringBoot简介(02:00)
						<b>正在学</b>
					</li>
				</ul>
				<ul class="hidden_one">
					<span class='title'>第1章</span> SpringBoot简介
					<li class='hidden_one' >
						<i class='fy_icon'>&#xe629;</i>
						<span>1-1</span> 
						SpringBoot简介
					</li>
					<li class='hidden_one'>
						<i class='fy_icon'>&#xe629;</i>
						<span>1-2</span>
						SpringBoot简介
					</li>
					<li class='hidden_one active'>
						<i class='fy_icon'>&#xe790;</i>
						<span>1-2</span>
						SpringBoot简介(02:00)
						<b>正在学</b>
					</li>
				</ul>
			</div>
			<form action="addNotes" class='cp_tab'>
				<!-- 未登录提示 -->
				<!-- <p>
					请<a href="#">登陆</a>后 
					<br>
					记下笔记
				</p> -->

				<!-- 未登录后状态 -->
				<input type="hidden" th:value="${userId}" name="userId" id="userId">
				<input type="text" name="noteTitle" placeholder="请输入笔记标题" id="noteTitle">
				<textarea name="noteContent" placeholder="请输入笔记内容" id="noteContent" cols="30" rows="10"></textarea>
				<input type="submit" value="发表笔记" id="submitnote">
			</form>
		</div>
	</div>


	<!-- 产品详情 -->
    <div class="cp_purchase">
        <!-- tab分类布局 -->
        <ul class="cp_tabBox">
            <li>
                <a href="course_video">
                    评论
                </a>
            </li>
            <li class='active' >
                <a href="course_chapterNote">
                    笔记
                </a>
            </li>
            <li>
                <a href="course_videoChapter">
                    章节
                </a>
            </li>
        </ul>
        <!-- tab分类布局结束 -->
    </div>


    <!-- tab分类内容 -->
    <div class="cp_tabCon">
        <div class="tips">
            全部笔记 <span  th:text="${noteCount}">30</span>
            <form class="cp_search">
                <input type="text" placeholder="请输入您需要查看的笔记">
                <button><i class='fy_icon'>&#xe64d;</i></button>
            </form>
        </div>
        <div class="container">
            <div class="col_left" >
                <ul class='cp_note' >
                    <li th:each="note:${noteList}">
                        <div class="left"><span th:text="${note.createTime}">2018年</span><br>
                        </div>
                        <div class="middle">
                            <div class="line"></div>
                        </div>
                        <div class="right">
                            <p class='hidden_one' th:text="${note.title}">在我的BGM中没人能够打败我</p>
                            <p class='hidd_more2' th:text="${note.content}" >反向生成失败 RuntimeException 和 报 tk.mybatis.mapper.generator.MapperPlugin 类为找到的错误。有遇到这个问题的朋友吗？在下愚钝，未能解决...</p>
                           <!--  <p>
                                源自<span>1-1Python课程初探</span>
                            </p> -->
                        </div>
                    </li>
                     <!-- <li class="active">
                        <div class="left"><span>2018年</span><br><span>3月15日</span>
                        </div>
                        <div class="middle">
                            <div class="line"></div>
                        </div>
                        <div class="right">
                            <p class='hidden_one'>在我的BGM中没人能够打败我</p>
                            <p class='hidd_more2' >反向生成失败 RuntimeException 和 报 tk.mybatis.mapper.generator.MapperPlugin 类为找到的错误。有遇到这个问题的朋友吗？在下愚钝，未能解决...</p>
                            <p>
                                源自<span>1-1Python课程初探</span>
                            </p>
                        </div>
                    </li>
                     <li>
                        <div class="left"><span>2018年</span><br><span>3月15日</span>
                        </div>
                        <div class="middle">
                        </div>
                        <div class="right">
                            <p class='hidden_one'>在我的BGM中没人能够打败我</p>
                            <p class='hidd_more2' >反向生成失败 RuntimeException 和 报 tk.mybatis.mapper.generator.MapperPlugin 类为找到的错误。有遇到这个问题的朋友吗？在下愚钝，未能解决...</p>
                            <p class='hidden_one' >
                                源自<span>1-1Python课程初探</span>
                            </p>
                        </div>
                    </li> -->
                </ul>
                

                <!-- 查看更多笔记开始 -->
                <div class="wzq_show_comment_more">
                    <div class="wzq_show_more">
                        <span>查看更多评论</span>
                        <i class="fy_icon">&#xe98f;</i>
                    </div>
                </div> 
                <!-- 查看更多结束 -->
                

                <!-- 无笔记开始 -->
                <!-- <div class="noComment">
                     <div class="con">
                         <img src="images/cp_13.png" alt="">
                         <p>
                            您当前处于未<a href="#">登录</a>状态<br> 请登陆后查看您的笔记
                         </p>
                     </div>
                </div> -->
                <!-- 无笔记结束 -->



            </div>
            <div class="col_right">
                <a href="#" class='work'>
                	提交作业
                </a>
                <a href="#" class='load'>
                	下载素材
                </a>
                <div class="con">
                	<h3>本节课程介绍</h3>
                	<p class="hidd_more">
                		直线段工具、实时上色工具的综合应用，以及绘制过程中坚持的“三角形原则”。
                	</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script src='js/jquery.min.js'></script>
<script>
	let work = $('.cp_work');
	let flag =true;
    let tab = $(".cp_cate span");
    let cp_tab = $('.cp_work .cp_tab');
    let old ="";
    let flag1 = true;
	work.click(function(){
		return false;
	});
	$('.cp_videoBox').click(function(){
		work.css({'right':'-352px'});
        old='';
        flag1=true;
	});
	tab.click(function(){
		let index = $(this).index();
		tab.removeClass('active');
		$(this).addClass('active');
		cp_tab.css({'display':'none'}).eq(index).css({'display':'block'});
        if(flag1){
            work.css({right:'0px'});
            console.log(100);
            flag1=false;
            return;
        }
        if(old!=this&&old!=""){
            old =this;
            return ;
        }
        if(flag){
            work.css({right:'0px'});
            old =this;
        }else{
            old='';
            flag1=true;
            work.css({right:'-352px'});
        }
        flag=!flag;
       
        return false;
	});
	
	//笔记提交代码
	$(function(){
		var $noteTitle = $('#noteTitle');
		var $noteContent = $("#noteContent");
		var $submitNote = $("#submitnote");
		
		$submitNote.click(function(){
			var title = $noteTitle.val();
			var content = $noteContent.val();
			var userId = $("#userId").val();
			$.ajax({
				url:"addNotes",
				type:"post",
				data:{
					noteTitle:title,
					noteContent:content,
					userId:userId
				},
				success:function(){
					
				}
			})
		})
	})
</script>
<script type="text/javascript">
			var videoObject = {
				container: '#video', //容器的ID或className
				variable: 'player',//播放函数名称
				// poster:'material/poster.jpg',//封面图片
				//flashplayer:true,
				video:'video/王菲 - 匆匆那年.mp4'//视频地址
		};
		var player = new ckplayer(videoObject);
</script>
</html>