
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>搜索结果-职业导航</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="keywords" content="飞鱼平台" />
    <meta name="description" content="飞鱼平台" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/cp_zhiyedaohang.css">
</head>

<body>
      <!-- 面包屑导航 -->
    <div class="cp_head">
        <div class="cp_breadCrumb">
            <a href="index">首页</a>
            <span>&gt;</span>
            <a href="#">找课程</a>
        </div>
    </div>
    
    <!-- 面包屑导航结束 -->

    <!-- 选项 -->
    <div class="cp_conList">
        <ul class="cp_contentList">
            <li class='active'><a href="professionalNavigation">职业导航</a> <span></span></li>
            <li><a href="courseChannel">课程频道</a> <span></span></li>
        </ul>
    </div>
    
    <!-- 选项内容 -->
    <ul class="cp_main">
        <li>
            <div class="cp_imgBox">
                <a href="#">
                    <img src="images/cp_1.png" alt="图片加载出错">
                </a>
            </div>
            <div class="cp_content">
                <a href="#">
                    <h3 class='hidden_one'>Python自动化开发-类Zabbix监控项目</h3>
                    <p>目标：了解产品定位和战略制定的方法；...这部分是无漏设计的重点，但产品经理主要掌握的就是三大架构和功能架构设计。要点：产品设计，既要满足商业需求，又要满足用户体验，同时所有功能要形成体系不能冲突。</p>
                </a>
            </div>

        </li>
        <li>
            <div class="cp_imgBox">
                <a href="#">
                    <img src="images/cp_2.png" alt="图片加载出错">
                </a>
            </div>
            <div class="cp_content">
                <a href="#">
                    <h3 class='hidden_one'>理论+实践，构建属于你的机器学习库单</h3>
                    <p>目标：了解产品定位和战略制定的方法；...这部分是无漏设计的重点，但产品经理主要掌握的就是三大架构和功能架构设计。要点：产品设计，既要满足商业需求，又要满足用户体验，同时所有功能要形成体系不能冲突。</p>
                </a>
            </div>
        </li>
        <li>
            <div class="cp_imgBox">
                <a href="#">
                    <img src="images/cp_3.png" alt="图片加载出错">
                </a>
            </div>
            <div class="cp_content">
                <a href="#">
                    <h3 class='hidden_one'>理论+实践，构建属于你的机器学习库单</h3>
                    <p>目标：了解产品定位和战略制定的方法；...这部分是无漏设计的重点，但产品经理主要掌握的就是三大架构和功能架构设计。要点：产品设计，既要满足商业需求，又要满足用户体验，同时所有功能要形成体系不能冲突。</p>
                </a>
            </div>
        </li>
        <li>
            <div class="cp_imgBox">
                <a href="#">
                    <img src="images/cp_4.png" alt="图片加载出错">
                </a>
            </div>
            <div class="cp_content">
                <a href="#">
                    <h3 class='hidden_one'>理论+实践，构建属于你的机器学习库单</h3>
                    <p>目标：了解产品定位和战略制定的方法；...这部分是无漏设计的重点，但产品经理主要掌握的就是三大架构和功能架构设计。要点：产品设计，既要满足商业需求，又要满足用户体验，同时所有功能要形成体系不能冲突。</p>
                </a>
            </div>
        </li>
    </ul>

    <!-- 相关搜索 -->
    <div class="cp_search">
        <h4>相关搜索</h4>
        <div class="cp_con">
            <a href="#">用户界面设计原则</a>
            <a href="#">用户界面设计原则</a>
            <a href="#">用户界面设计原则</a>
        </div>
    </div>

    <!-- 分页 -->

    <ul class="cp_paging">
        <li class='cp_first '><a href="#">首页</a></li>
        <li class="cp_firstPage btn_active">
            <a href="#">上一页</a>
        </li>
        <li class="cp_num">
            <a href="#">1</a>
        </li>
        <li class="cp_num  num_active">
            <a href="#">2</a>
        </li>
        <li class="cp_num" >
            <a href="#">3</a>
        </li>
        <li class="cp_num" >
            <a href="#">4</a>
        </li>
        <li class="cp_num" >
            <a href="#">5</a>
        </li>
        <li class="cp_num" >
            <a href="#">6</a>
        </li>

        <li class='cp_last'>
            <a href="#">尾页</a>
        </li>
        <li class='cp_lastPage'>
            <a href="#">下一页</a>
        </li>
    </ul>
</body>

</html>