<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>邮箱验证页面</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/email.css">
	<script src="js/jquery.min.js"></script>
</head>
<body>
	<div id="cp_email">
		<div class="cp_title">
			账号安全
		</div>
		<h3>新增邮箱账号</h3>
		<form action="email">
			<input type="email" name='ownEmail' class='my_email' placeholder="请输入您的邮箱">
			<div class="cp_code">
				<input type="text" placeholder="验证码">
				<button class="cp_block">
					发送验证码
				</button>
				<i class='fy_icon'>&#xe663;</i>
			</div>
			<input type="submit" class='cp_sub'  value='确定'>
			<a href="#" class='cp_back'>
				返回
			</a>
		</form>
	</div>
</body>
<script>
	var code = $(".cp_block");
	var time = 60;  // 倒计时时间
	var setT ;
	var t = sessionStorage.getItem("codeTime") || 0
	if (t>0) {
		code.attr("disabled","disabled")
		code.addClass("disable")
		time = t
		updateTime()
		setT = setInterval(updateTime,1000)
	}
	code.click(function(e){
		e.preventDefault()
		// $.ajax({
		// 	// 发送验证码
		// })
		if (t<=0) {
			time = 60;
			code.addClass("disable")
			code.attr("disabled","disabled")
			updateTime()
			setT = setInterval(updateTime,1000)
		}
	})
	function updateTime(){
		time--
		code.html("发送验证码("+time+"秒)")
		sessionStorage.setItem("codeTime",time)
		if (time<=0) {
			code.removeAttr("disabled")
			code.html("发送验证码")
			code.removeClass("disable")
			clearInterval(setT)
		}
	}
</script>
</html>