<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>邮箱验证页面</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/email.css">
	<script src="js/jquery.min.js"></script>
</head>
<body>
	<div id="cp_email">
		<div class="cp_title">
			账号安全
		</div>
		<h3>新增邮箱账号</h3>
		<form action="email" method="post">
		    <p style="color: red;" th:text="${message}"></p>
			<input type="email" name='ownEmail' class='my_email' required id='ownEmail' id="ownEmail" placeholder="请输入您的邮箱" data-message="请输入正确的邮箱" data-easytip="position:right;class:easy-red"  data-easyform="regex:^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$;real-time;">
			<div class="cp_code">
				<input type="text" name= "code" placeholder="验证码">
				<button class="cp_block">
					发送验证码
				</button>
				<div>
                    <span id="telephonenameTip"></span>
                </div>
			</div>
			<input type="submit" class='cp_sub'  value='确定'>
			<a href="personal_set" class='cp_back'>
				返回
			</a>
		</form>
	</div>
</body>
<script>

	var code = $(".cp_block");
	var time = 60;  // 倒计时时间
	var setT ;
	var t = sessionStorage.getItem("codeTime") || 0
	if (t>0) {
		code.attr("disabled","disabled")
		code.addClass("disable")
		time = t
		updateTime()
		setT = setInterval(updateTime,1000)
	}
	
	
	var emailCode="";
	var codeLength = 6;
	code.click(function(e){
		if($("input[type=email]").val().length>0){
			var ownEmail = $("#ownEmail").val();
			
			// 产生验证码      
	        for ( var i = 0; i < codeLength; i++) {      
	        	emailCode += parseInt(Math.random() * 9).toString();      
	        } 
			e.preventDefault()
			// 发送验证码
			$.ajax({      
	               type: "POST", // 用POST方式传输      
	               dataType: "text", // 数据格式:JSON      
	               url: "sendEmailCode", // 目标地址      
	               data: "ownEmail=" + ownEmail +"&emailCode=" + emailCode,      
	               error: function (XMLHttpRequest, textStatus, errorThrown) {       
	                         
	               },      
	               success: function (data){       
	                   data = parseInt(data, 10);      
	                   if(data == 1){      
	                       $("#telephonenameTip").html("<font color='#339933'>√ 邮箱验证码已发到您的手机,请查收</font>");      
	                   }else if(data == 0){      
	                       $("#telephonenameTip").html("<font color='red'>× 邮箱验证码发送失败，请重新发送</font>");      
	                       return false;    
	                   }else if(data == 2){      
	                       $("#telephonenameTip").html("<font color='red'>× 该邮箱今天发送验证码过多</font>");      
	                   }      
	               }      
	           }); 
			if (t<=0) {
				time = 60;
				code.addClass("disable")
				code.attr("disabled","disabled")
				updateTime()
				setT = setInterval(updateTime,1000)
			}
		}else{
			alert("请填写邮箱")
		}
		
	})
	function updateTime(){
		time--
		code.html("发送验证码("+time+"秒)")
		sessionStorage.setItem("codeTime",time)
		if (time<=0) {
			code.removeAttr("disabled")
			code.html("发送验证码")
			code.removeClass("disable")
			clearInterval(setT)
		}
	}
</script>
</html>