<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>飞鱼平台-课程详情</title>
	<meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="keywords" content="飞鱼平台" />
    <meta name="description" content="飞鱼平台" />
    <link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/public_header.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/headerfooter.js"></script>

    <link rel="stylesheet" href="css/cp_comment.css">
	<link rel="stylesheet" href="css/wqf_chapter.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/layer.js"></script>
</head>
<body>

    <!-- 头部 开始 -->
        
    <!-- <div th:include="backend/wy_header" ></div> -->
    <div id="public_header" th:include="backend/wy_header :: head"></div>
    <script th:include="backend/wy_header :: js_head"></script>  
    <!-- 头部 结束 -->

	<!-- 面包屑导航 -->
    <div class="cp_head">
        <div class="cp_breadCrumb">
            <a href="index">首页</a>
            <i class='fy_icon'>&#xe604;</i>
            <a href="findCourse">找课程</a>
            <i class='fy_icon'>&#xe604;</i>
            <a href="#">课程详情</a>
        </div>
    </div>
    <!-- 面包屑导航结束 -->

	<!-- 产品详情 -->
	<div class="cp_product">
		<div class="con_left">
            <a href="#">
                <img src="images/cp_10.png" th:src="${course.course_image_address}">
            </a>  
        </div>
        <div class="con_right">
            <div class="con_son1">
                <h3  th:text="${course.course_name}" >Python课程初探</h3>
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1582911029&site=qq&menu=yes" class='group'>
                    <img src="images/cp_11.png">
                    <span>
                        加群咨询
                    </span>
                </a>
                <div class="share bdsharebuttonbox" data-tag="share_1">
                    分享到
                     <a href="javascript:;" data-cmd="weixin" class="bds_weixin fy_icon" title="微信" style="background:none; float:none; padding-left:0">&#xe65b;</a>
                       <a href="javascript:;" data-cmd="sqq" class="bds_sqq fy_icon" title="QQ" style="background:none; float:none; padding-left:0">&#xe60b;</a>
                       <a href="javascript:;" data-cmd="tsina" class="bds_tsina fy_icon" title="微博" style="background:none; float:none; padding-left:0">&#xe62f;</a>
                </div>
            </div>
            <div th:text="${course.course_info}" class="con_son2" >
                Python是什么？豆瓣和Youtube是用它开发的；美国最流行的三大服务器开发语言之一，最工整最严谨的编程语言，取代Java和PHP的开源趋势语言。 
            </div>
            <div class="con_son3">
                <span>
                    学习人数
                    <b th:text="${course.student_count}">899</b>
                </span>
                <span>
                    课程时长
                    <b th:text="${courseTime}+'分钟'">160分钟</b>
                </span>
<!--                 <span>
                    点赞
                    <b>10</b>
                </span> -->
            </div>
            <div class="con_son4">	
               本节价格<b th:text="(${course.course_price}==0?'免费':(${course.course_price} == -1? '已购买': ${course.course_price}))">300</b><span th:text="(${course.course_price}==0?'':(${course.course_price} == -1? '': '元'))">元</span>
            </div>
            <div class="con_son5">
               <a href="javascript:;" id="buy" class='putchase' th:class="(${course.course_price}==0?'':(${course.course_price} == -1? '': 'putchase'))" th:text="(${course.course_price}==0?'':(${course.course_price} == -1? '': '立即购买'))">
                   立刻购买
               </a>
               <a th:href="'course_video?chapterId='+${goStudy}" class='study' th:class="(${course.course_price}==0?'putchase':(${course.course_price} == -1? 'putchase': ''))" th:text="(${course.course_price}==0?'去学习':(${course.course_price} == -1? '去学习': ''))">
                   去学习
               </a>
               <a href="javascript:;" class='study' id="collect"  th:style="${display == 0 ? 'display:block':'display:none'}" >
                   收藏该课程
               </a>
               <a href="javascript:;" class='study' id="uncollect" th:style="${display == 0 ? 'display:none':'display:block'}">
                  取消收藏
               </a>
               			
               <a href="#" th:href="'course_video?chapterId='+${goStudy}"  th:text="(${course.course_price}==0?'':(${course.course_price} == -1? '': '试听一节课'))">试听5分钟</a>
            </div>
        </div>


	</div>

    <!-- 状态导航开始-->
    <div class="wqf_content">
        <div class="wzq_r_tit">
            <div class="wzq_tit_item wzq_tit_item_active">
                <a href="#"><span>章节</span></a>
                <div class="wzq_tit_bor"></div>
            </div>
		<!-- 课程评论  -->
		<div class="wzq_tit_item">
                <a href="course_comment" th:href="'course_comment?courseId='+${course.id}"><span>评论</span></a>
                <div class="wzq_tit_bor"></div>
            </div> 
            
<!-- 作业展示   未实现 -->
<!--        <div class="wzq_tit_item">
                <a href="course_jobDisplay"><span>作业展示</span></a>
                <div class="wzq_tit_bor"></div>
            </div> -->
        </div>
    </div>
    <!-- 状态导航结束-->

    <!-- 章节列表开始 -->
    <div class="wqf_chapter clear_both">
        <div class="container">
            <ul class="wqf_chapter_list"> 
                <!-- 里面内容需要更改 -->
                <!-- <li th:each="hd,iterStat:${chapterTitleList}">
                    <h2 class="title">
                        <i class="icon">=</i>
                        <span th:text="${hd.chapter_title}">第一章 SpringBoot简介</span>
                    </h2>
                    <ul class="list">
                        <li th:each="c:${chapter0}">
                            <a href="course_video" th:href="'course_video?chapterId='+${c.id}">
                                <i class="fy_icon">&#xe629;</i>
                                <span th:text="${c.chapter_name}">1-1 SpringBoot简介</span>
                                <span class="time">20:20</span>
                                <span class="tishi">免费试听5分钟 <i>→</i></span>
                            </a>
                            <p class="hidd_more">主要讲解常用色彩属性，以及网络上比较流行的一些配色方法总结，未来流行配色趋势。主要讲解常用色彩属性，以及网络上比较流行的一些配色方法总结，未来流行配色趋势。</p>
                        </li>
                    </ul>
                </li>-->
            </ul>

            <div class="wqf_teacher_message">
                <!-- 
                    只需更换行内 图片地址即可更换 用户头像
                 -->
                <div class="head_img" style="background: url(images/wqf_user.png) no-repeat center /cover;" th:style="'background: url('+(${teacher.teacher_image} == null ? 'images/wqf_user.png' :${teacher.teacher_image})+') no-repeat center /cover;'" >
                </div>
                <h2 th:text="${teacher.teacher_name}">王起帆</h2>
                <p class="type" th:text="${teacher.teacher_position}">全栈工程师</p>
                <p class="message" th:text="${teacher.teacher_info}">基本必备：JAVA基础，spring基础，对json，redis有一定的了解
                老师告诉你能学到什么？
                了解springboot如何从零搭开始搭建一个工程。
                springboot系统架构体系            
                springboot与各个技术点的整合</p>
            </div>
        </div>
    </div>

    <!-- 章节列表结束 -->
    
    <!-- 底部 -->
    <div id="public_footer" th:include="backend/wy_footer :: foot"></div>
    <script th:include="backend/wy_footer :: js_foot"></script>  
    <!-- <div th:include="backend/wy_footer"></div>  -->
    <!-- 底部  结束 -->



</body>
<script type="text/javascript" th:inline="javascript">
		var chapterTitleList=[[${chapterTitleList}]]
		var chapterJson= [[${chapterJson}]]
		var userId=[[${userId}]]
		var courseId=[[${courseId}]]
		var isBuy = [[${isBuy}]];
</script>
<script>
	var buyBox = $(".buyBox")
	
	if (isBuy == 0) {
		buyBox.css({display:"none"})
		layer.confirm('您未购买该课程？', {
		  btn: ['去购买','取消'] //按钮
		}, function(){
		  location.href=""
		})
	}
	
	var loginBox = $(".loginBox")
	$("#buy").click(function(){
		if(userId){
			location.href = "buy"
		}else{
			layer.confirm('您未登录？', {
			  btn: ['去登陆','取消'] //按钮
			}, function(){
			  location.href="login"
			});
		}
	})
</script>
<script>
	/* 收藏课程 */
	var collect = $("#collect")
	var uncollect = $("#uncollect")
	collect.click(function(){
		if(userId!=null){
			$.ajax({
				url: 'course_collect',
				method:"post",
				data:{
					userId : userId,
					courseId : courseId
				},
				success: function(){
					collect.css({display:'none'})
					uncollect.css({display:'block'})
				}
			})
		}else{
			// getTips("未登录","点击此处登录","login")
			layer.confirm('您未登录？', {
			  btn: ['去登陆','取消'] //按钮
			}, function(){
			  location.href="login"
			});
			
		}
		
	})
	//  取消收藏
	
	uncollect.click(function(){
		$.ajax({
			url: 'course_uncollect',
			method:"post",
			data:{
				userId : userId,
				courseId : courseId
			},
			success: function(){
				uncollect.css({display:'none'})
				collect.css({display:'block'})
			}
		})
	})
	


    var chapterJson = JSON.parse(chapterJson)
    console.log(chapterJson)
    var str = "";
    for(var i = 0; i<chapterTitleList.length; i++){
        str+=`<li>
            <h2 class="title">
                <i class="icon">=</i>
                <span>${chapterTitleList[i].chapter_title}</span>
            </h2>
            <ul class="list">`

        var chapter = chapterJson["chapter"+i]
        for (var j = 0; j < chapter.length; j++) {

            str+=`<li>
                    <a href="course_video?chapterId=${chapter[j].id}">
                        <i class="fy_icon">&#xe629;</i>
                        ${chapter[j].chapter_name}

                        <span class="time">${chapter[j].total_time}</span>
                        
                        
                    </a>
                    <p class="hidd_more">${chapter[j].chapter_info}</p>
                </li>`
        }


        str+=`</ul>
        </li>`
        
    
        document.querySelector(".wqf_chapter_list").innerHTML = str
    }
    // console.log(str,document.querySelector(".wqf_chapter_list"))
    //<span class="tishi">免费试听5分钟 <i>→</i></span>
    
    
</script>


</html>