<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>飞鱼平台</title>
	<meta name="renderer" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<meta name="keywords" content="飞鱼平台" />
	<meta name="description" content="飞鱼平台" />
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/wqf_find.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_614432_ti3cur983vunmi.css">
	<script src="js/jquery.min.js"></script>
</head>
<body>
<div th:include="backend/wy_header" ></div>
	<!-- 面包屑导航  开始-->
	<div class="wqf_navigation">
		<a href="index.html">首页</a>
		<span class="fy_icon">&#xe604;</span>
		<a href="javascript:;">找课程</a>
	</div>
	<!-- 面包屑导航  结束-->
	
	<!-- 课程分类选项 开始 -->
	<div class="wqf_class_select noselect">
		<ul >
		    <li>方向：</li>
			<a th:class="${session.directionId} ?'':active" href="findCourse">全部</a>	
			<a name="directionId" th:each="direction:${directionList}" th:text="${direction.name}" th:href="'findCourse?directionId='+${direction.id}" th:class="${session.directionId} == ${direction.id} ? active:''" >UI设计</a>
		</ul>
		<ul >
		    <li>分类：</li>
			<a th:class="${session.classfyId}?'':active" href="findCourse">全部</a>	
			<a th:each="classfy:${classfyList}" th:text="${classfy.classify_name}" th:href="'findCourse?classfyId='+${classfy.id}" th:class="${session.classfyId} == ${classfy.id} ? active:''" >AI</a>
		</ul>		
		<ul >
			<li>类型：</li>
			<a th:class="${session.price}?'':active" href="findCourse">全部</a>
			<a href="findCourse?price=0" th:class="${session.price} == 0? active:''" th:href="${option}?'findCourse?'+${option}+'&price=0':'findCourse?price=0'">免费课</a>
			<a href="findCourse?price=9.9" th:class="${session.price} == 9.9? active:''" th:href="${option}?'findCourse?'+${option}+'&price=9.9':'findCourse?price=9.9'">9.9元课</a>
<!-- 			<a>直播课</a>
			<a>系列课</a> -->
		</ul>
		
		<div class="sort clear_both">
			<div class="item active" id="zonghe">
				<span>综合</span>
				<div class="jiantou">
					<span class="fy_icon">&#xe62e;</span>
					<span class="fy_icon">&#xe695;</span>
				</div>
			</div>
			<div class="item" id="zuixin">
				<span>最新</span>
				<div class="jiantou">
					<span class="fy_icon">&#xe62e;</span>
					<span class="fy_icon">&#xe695;</span>
				</div>
			</div>
			<div class="item" id="remen">
				<span>热门</span>
				<div class="jiantou">
					<span class="fy_icon">&#xe62e;</span>
					<span class="fy_icon">&#xe695;</span>
				</div>
			</div>

			<div class="page clear_both">
				<span class="select">难度</span>
				<span class="select">畅销</span>
				<span id="page">1/5</span>
				<span class="jt shang fy_icon">&#xe619;</span>
				<span class="jt xia fy_icon">&#xe617;</span>
			</div>
		</div>
	</div>
	
	<!-- 课程分类选项 结束 -->

	<!-- 百万课程 开始 -->
	<div class="wqf_course">
		<div class="class_list clear_both">
		
		    <li th:each="course:${courseList}">
				<a href="javascript:;" th:href="'course_chapter?courseId='+${course.id}">
					<!-- 
					    只需更换行内 图片地址即可更换 课程封面
					 -->
					<div class="picture" style="background: url(images/wqf_list1.png) no-repeat center/cover">
						<header>
							<span class="hot"></span>
							<span class="title" th:text="${course.course_name}">用户体验</span>
						</header>
						<div class="time">
							<span class="fy_icon">&#xe626;</span>
							20:30
						</div>
					</div>
					<div class="bg1"></div>
					<div class="bg2"></div>

					<h3 class="title hidd_more fire" th:text="${course.course_name}">理论+实践，构建属于你的机器学习库单 <span class="fy_icon">&#xe606;</span></h3>
					<p>
						<span th:text="${course.course_price} == 0 ? '免费' : '￥'+${course.course_price}" class="price">￥199</span>
						<span th:text="${course.student_count} + '人正在学习'">555人正在学习</span>
						
					</p>
				</a>
			</li>			
		</div>
	</div>
<!-- 百万课程 结束-->
<div th:include="backend/wy_footer"></div> 
	<script src="js/wqf_find.js"></script>
<script type="text/javascript" th:inline="javascript">
var data = [[${courseList}]]
</script>
<script>
console.log(data)
	var pageNum = 8; // 每页放几条
    var TotalNumber = data.length;  // 总条数
	var pageCount = Math.ceil(TotalNumber/pageNum);    // 总页数
    var currentPage = 0 ;   // 当前页码

    var pageL = $(".page .jt.shang")
    var pageR = $(".page .jt.xia")
    pageL.click(function(){
    	currentPage = currentPage-1<=0?0:currentPage-1
    	update()
    })
    pageR.click(function(){
    	currentPage = currentPage>=pageCount-1?pageCount-1:currentPage+1
    	update()
    })
	

	var class_list = $('.class_list')
	update()
	function update(){
    	$("#page").html(`${currentPage+1}/${pageCount}`)
		var str = "";
		// console.log(currentPage*pageNum,pageNum)
		var newArr = data.slice(currentPage*pageNum,currentPage*pageNum+pageNum)
		newArr.forEach((val,i)=>{
			str+=`<li>
					<a href="course_chapter?courseId=${val.id}">
						<div class="picture" style="background: url(${val.course_image_address}) no-repeat center/cover">
							<header>
								<span class="hot"></span>

							</header>
							<div class="time">
								<span class="fy_icon">&#xe626;</span>
								20:30
							</div>
						</div>

						<h3 class="title hidd_more fire">${val.course_name}<span class="fy_icon">&#xe606;</span></h3>
						<p>
							<span class="price">${val.course_price==0?'免费':'￥'+val.course_price}</span>
							<span>${val.student_count}人正在学习</span>
						</p>
					</a>
				</li>`
		})
		class_list.html(str)
	}
	var newdata = data.slice(0)
	var sort = $(".wqf_class_select .sort")
	sort.click(function(e){
		var target;
		if ($(e.target).hasClass("item")) {
			target = $(e.target)
		}else if($(e.target).parents(".item").length>0){
			target = $(e.target).parents(".item")
		}
		if (target) {
			$(".item").removeClass("active")
			// 去除其他按钮样式
			$(".item").not(target).find(".fy_icon").removeClass("active")

			// 修改按钮样式
			$(target).addClass("active")
			target.addClass("active")
			var flag = true;
			if (target.find(".fy_icon").eq(1).hasClass("active")) {
				target.find(".fy_icon").eq(1).removeClass("active")
				target.find(".fy_icon").eq(0).addClass("active")
				flag = true
			}else{
				target.find(".fy_icon").eq(0).removeClass("active")
				target.find(".fy_icon").eq(1).addClass("active")
				flag = false
			}


			// 综合排序
			if(target.attr('id')=="zonghe"){
				newdata.sort((a,b)=>1)
				data = newdata.slice(0)
				currentPage = 0
				update()
			}else if(target.attr('id')=="zuixin"){
				// 时间排序
				if (flag) {
					data.sort((a,b)=>a.updateTime - b.updateTime)
				}else{
					data.sort((a,b)=>b.updateTime - a.updateTime)
				}
				currentPage = 0
				update()
			}else if(target.attr('id')=="remen"){
				// 热门排序
				
				if (flag) {
					data.sort((a,b)=>a.student_count - b.student_count)
				}else{
					data.sort((a,b)=>b.student_count - a.student_count)
				}
				currentPage = 0
				update()
			}
		}
		
	})



</script>
</body>
</html>