<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>飞鱼平台-个人中心</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="飞鱼平台" />
    <meta name="description" content="飞鱼平台" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/public_header.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/headerfooter.js"></script>
    <link rel="stylesheet" href="css/wzq_list_public.css">
    <link rel="stylesheet" href="css/wqf_list_public.css">
    <link rel="stylesheet" href="css/wqf_notice.css">
</head>
<body>
<!-- 头部 开始 -->
<!-- <div th:include="backend/wy_header" ></div> -->
<div id="public_header" th:include="backend/wy_header :: head"></div>
<script th:include="backend/wy_header :: js_head"></script>  
<!-- 头部 结束 -->

<!--banner处信息开始-->
<div class="wzq_learning_banner" style="background: url(images/wzq_learning_banner.jpg) no-repeat center/cover">
    <div class="wzq_inside">
        <div class="wzq_user wzq_clear">
            <div class="wzq_user_img" style="background:url(images/wqf_user.png) no-repeat center /cover;"></div>
            <div class="wzq_user_info">
                <h3 class="wzq_user_info_name"><span th:text="${user_name}" id="wzq_user_name">杉泽小哥</span></h3>
                <h4 class="wzq_user_info_con">
                    <span th:text="${userInfo.gender}">男</span>|
                    <a href="personal_basic" style="color:#fff; margin-left:3px;">账号设置<span class="fy_icon">&#xe604;</span></a>
                </h4>
            </div>
        </div>
        <div class="wzq_study_info">
<!--             <div class="wzq_study_item">
                <span>学习时长</span>
                <em>200</em>
                分钟
            </div> -->
            <div class="wzq_study_item">
                <span>我的积分</span>
                <em th:text="${integralNum}">200</em>
            </div>
            <div class="wzq_study_item">
                <span>签到</span>
                <em th:text="${siginDay}">200</em>
                天
            </div>
        </div>
    </div>
</div>
<!--banner处信息结束-->
<div class="wzq_main wzq_inside wzq_clear">
     <!--左侧导航开始-->
    <div class="wzq_main_l">
        <ul class="wzq_left_nav">
            <li class="wzq_left_nav_item">
                <a href="javascript:;"  class="wzq_nav_item_active">
                    <em class="wzq_icon"></em>
                    我的消息
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <li class="wzq_left_nav_item">
                <a href="personalCenter_learning">
                    <em class="wzq_icon"></em>
                    我的课程
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <!-- <li class="wzq_left_nav_item">
                <a href="personalCenter_homework">
                    <em class="wzq_icon"></em>
                    作业上传
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li> -->
            <li class="wzq_left_nav_item">
                <a href="myGrowthSystem" >
                    <em class="wzq_icon"></em>
                    职业导航
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <li class="wzq_left_nav_item">
                <a href="personalCenter_invitation" >
                    <em class="wzq_icon"></em>
                    邀请码
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <li class="wzq_left_nav_item">
                <a href="personalCenter_jifen">
                    <em class="wzq_icon"></em>
                    我的积分
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
        </ul>
    </div>
    <!--左侧导航结束-->
    <div class="wzq_main_r">
        <!--状态导航开始-->
        <div class="wzq_r_tit">
            <a href="javascript:;" class="wzq_tit_item wzq_tit_item_active">
                <span>公告/通知</span>
                <div class="wzq_tit_bor"></div>
            </a>
<!--             <a href="personalCenter_comment" class="wzq_tit_item ">
                <span>评论留言</span>
                <div class="wzq_tit_bor"></div>
            </a> -->
        </div>
        <!--状态导航结束-->
        <div class="wzq_mbx ">
            <span th:text="全部通知+${notificationNumber}">全部通知 20</span>
        </div>
        
        <ul class="wqf_content">
            <li class="clear_both" >
            </li>
           <!--  <li class="clear_both">
                <img src="images/wqf_user.png" >
                <div class="message">
                    <h2>
                        系统通知 
                        <span>发布时间：2018年03月03日</span>
                    </h2>
                    <p class="hidd_more">管理员 审核通过 了你发布的原创作品：《飞鱼飞鱼》 操作原因：感谢在站酷网发布您的原创作品。：）</p>
                </div>
            </li> -->
        </ul>

        <!--评论列表结束-->
        <div class="wzq_show_comment_more">
            <div class="wzq_show_more">
                <span>查看更多评论</span>
                <i class="fy_icon">&#xe98f;</i>
            </div>
        </div>
    </div>
</div>


<!-- 底部 -->
<div id="public_footer" th:include="backend/wy_footer :: foot"></div>
<script th:include="backend/wy_header :: js_foot"></script>  
<!-- <div th:include="backend/wy_footer"></div>  -->
<!-- 底部  结束 -->

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>

<script type="text/javascript" th:inline="javascript">
	var data = [[${notificationList}]];
	
	data =JSON.parse(data);
	console.log(data)
</script>
<script>
	var num = 3; // 每页显示条数
	var noticeBox = $(".wzq_main_r .wqf_content");
	update()
	function update(){
		var str = "";
		if (num>=data.length) {
            $(".wzq_show_comment_more").css({display:"none"})
        }
		data.slice(0,num).forEach((val,i)=>{
			
			if(val.notificationType==0){
            	
            	val.notificationType = '系统通知';
            }else{
            	val.notificationType = '系统公告';
            }
			
			str+=`<li class="clear_both">
	                <img src="images/wqf_user.png" >
	                <div class="message">
	                    <h2>
	                        ${val.notificationType}
	                        <span>发布时间：${new Date(val.createTime).toLocaleDateString()}</span>
	                    </h2>
	                    <p class="hidd_more">${val.notificationContent}
	                    </p>
	                </div>
	            </li>`
		})
		noticeBox.html(str)
	}
    $(".wzq_show_more").click(function(){
    	num+=num
    	update()
    })
</script>
</body>
</html>