<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>飞鱼平台 - 个人中心</title>
	<meta name="renderer" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<meta name="keywords" content="飞鱼平台" />
	<meta name="description" content="飞鱼平台" />
	<link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/wqf_basic.css">
	<link rel="stylesheet" href="css/public_header.css">
	<link rel="stylesheet" href="css/wqf_personal.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_614432_ti3cur983vunmi.css">
	<link rel="stylesheet" href="css/select-city.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/headerfooter.js"></script>
</head>
<body>
	<div th:include="backend/wy_header" ></div>
	<!-- 基本资料  开始-->
	<div class="wqf_information_box ">
		<div class="wqf_information clear_both">
			<!-- 左侧菜单 -->
			<ul class="menu_left">
				<li class="active">
					<a href="personal_basic" target="main_frame">
						<img src="images/wqf_set1.png">
						<span>基本资料</span>
						<span class="fy_icon">&#xe604;</span>
					</a>
				</li>
				<li>
					<a href="personal_set" target="main_frame">
						<img src="images/wqf_set2.png">
						<span>账号设置</span>
						<span class="fy_icon">&#xe604;</span>
					</a>
				</li>
			</ul>

			<!-- 右侧主界面 -->
			<div class="wqf_main">
				<h1 class="wqf_title">基本资料</h1>

					<div class="wqf_basic_main">
						<form action="personal_basic" method="post" enctype="multipart/form-data">
							<ul >
								<li class="clear_both photo">
									<input type="file" id="photo"  name="photo">
									
									<span class="title">头像</span>
									<img th:src="${userInfo.head_image}" id="img" src= "images/wqf_user.png" style="width:90px; height:90px;">
									<!-- <div th:style="'display:inline-block;width:90px; height:90px;background:url('+${userInfo.head_image}+') no-repeat center /cover'"></div> -->
									<label for="photo"><i class="fy_icon">&#xe663;</i>换一个</label>
									<p>
										支持jpg，gif，png或bmp格式的图片，文件须小于1M <br> 
										<label for="photo">上传头像</label>
									</p>
								</li>

								<li class="name">
									<span class="title">账号</span>									
									<input type="text" value="18888888888" name="username" readonly="value" th:value="${userName}">
								</li>
								<li class="name">
									<span class="title">真实姓名</span>
									<input type="text" name="realname" th:value="${userInfo.real_name}">
								</li>
								<li class="tel">
									<span class="title">电话</span>
									<span th:text="${userName}">18888888888 (已验证)</span>
									<!-- <a href="javascript:;">修改手机</a> -->
								</li>
								<li class="name">
									<span class="title">昵称</span>
									<input type="text" name="nickname" th:value="${userInfo.nickname}">
								</li>
								<li class="sex">
									<span class="title" th:text="${userInfo.gender}">性别</span>
									<input type="radio" name="sex" id="man" value="man" th:checked="${userInfo.gender== '男'}">
									<label for="man">男</label>

									<input type="radio" name="sex" id="woman" value="woman" th:checked="${userInfo.gender== '女'}">
									<label for="woman">女</label>
								</li>
								<li class="date">
									<!-- <input type="date" name="year" value=""> -->
									<span class="title">出生日期</span>

									<select name="year" id="year">
										<option value="1990">选择年份</option>
									</select>
									<select name="month" id="month">
										<option value="1">选择月份</option>
									</select>
									<select id="day" name="day">
										<option value="1">选择日期</option>
									</select>
								</li>
								<li class="name">
									<span class="title">QQ</span>
									<input type="text" name="qq" th:value="${userInfo.qq}">
								</li>
								<li class="name">
									<span class="title">微信</span>
									<input type="text" name="wechat" th:value="${userInfo.wechat}">
								</li>
								<li class="place">
									<span class="title">现居地</span>
								    <!--zcityGroup start-->
								    <div class="zcityGroup" city-range="{'level_start':1,'level_end':3}"></div>
								    <!--zcityGroup end-->
								</li>
							</ul>
							 <div class="submit" >
								<button>保存信息</button>
							</div>
						</form>						
					</div>
			</div>
		</div>		
	</div>
<div th:include="backend/wy_footer"></div> 
</body>
<script type="text/javascript" src="js/select-city.js"></script>
	<script type="text/javascript" src="js/select-time.js"></script>
	
	
<script type="text/javascript" th:inline="javascript">

		var sheng = [[${provincial}]]
		var shi = [[${municipal}]]
		var xian = [[${county}]]
		var y = [[${year}]]
		var m = [[${month}]]
		var d = [[${day}]]
</script>
	
	<script type="text/javascript">
		// 城市下拉框
		zcityrun('.zcityGroup',sheng,shi,xian);

		// 日期下拉框
		$(function(){
			$(".wqf_basic_main>form .date").selectDate(y,m,d)
			
			$(".wqf_basic_main>form .date").focusout(function(){
				var year = $("#year option:selected").html()
				var month = $("#month option:selected").html()
				var day = $("#days option:selected").html()
				// console.log(year+month+day)
			})
			
		})

		$("#photo").change(function(){
		    $("#img").attr("src",URL.createObjectURL($(this)[0].files[0]));
		});

		var t = document.querySelector(".submit")
		var f = document.querySelector("form")
		t.onclick = function(e){
			e.preventDefault()
	        // 通过 provincial  municipal   county 获取 省市县
	        // 通过 year  month  day  获取年月日

	            var a = new FormData(f);
                var objs = $("input[class='currentValue']");
        		a.append("provincial",objs.eq(0).val())
        		a.append("municipal",objs.eq(1).val())
        		a.append("county",objs.eq(2).val())
	            $.ajax({
	                url:"personal_basic",
	                xhrFields:{
	                    withCredentials:true
	                },
	                type: "POST",
	                cache: false,
	                data: a,
	                processData: false,
	                contentType:false,
	                async: false,
	                success: function (result) {
						if(result.result==0){
							alert("保存成功")
							history.go(0)
						}
	                }
	                //cache 上传文件不需要缓存，所以设置false
	                //processData 因为data值是FormData对象，不需要对数据处理
	                //contentType 因为是由form表单构造的FormData对象，且已声明了属性enctype，所以为false
	            })
		    // f.submit()
}
		
	</script>
</html>
