<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>飞鱼平台-个人中心</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="飞鱼平台" />
    <meta name="description" content="飞鱼平台" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/public_header.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/headerfooter.js"></script>

    <link rel="stylesheet" href="css/wzq_list_public.css">
    <link rel="stylesheet" href="css/wqf_list_public.css">
    <link rel="stylesheet" href="css/wqf_data_download.css">
</head>
<body>
<!-- 头部 开始 -->
<!-- <div th:include="backend/wy_header" ></div> -->
<div id="public_header" th:include="backend/wy_header :: head"></div>
<script th:include="backend/wy_header :: js_head"></script>  
<!-- 头部 结束 -->

<!--banner处信息开始-->
<div class="wzq_learning_banner" style="background: url(images/wzq_learning_banner.jpg) no-repeat center/cover">
    <div class="wzq_inside">
        <div class="wzq_user wzq_clear">
            <div class="wzq_user_img" style="background:url(images/wqf_user.png) no-repeat center /cover;"></div>
            <div class="wzq_user_info">
                <h3 class="wzq_user_info_name"><span th:text="${user_name}" id="wzq_user_name">杉泽小哥</span></h3>
                <h4 class="wzq_user_info_con">
                    <span th:text="${userInfo.gender}">男</span>|
                    <a href="personal_basic" style="color:#fff; margin-left:3px;">账号设置<span class="fy_icon">&#xe604;</span></a>
                </h4>
            </div>
        </div>
        <div class="wzq_study_info">
            <!-- <div class="wzq_study_item">
                <span>学习时长</span>
                <em>200</em>
                分钟
            </div> -->
            <div class="wzq_study_item">
                <span>我的积分</span>
                <em th:text="${integralNum}">200</em>
            </div>
            <div class="wzq_study_item">
                <span>签到</span>
                <em th:text="${siginDay}">200</em>
                天
            </div>
        </div>
    </div>
</div>
<!--banner处信息结束-->
<div class="wzq_main wzq_inside wzq_clear">
     <!--左侧导航开始-->
    <div class="wzq_main_l">
        <ul class="wzq_left_nav">
            <li class="wzq_left_nav_item">
                <a href="personalCenter_notice" >
                    <em class="wzq_icon"></em>
                    我的消息
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <li class="wzq_left_nav_item">
                <a href="personalCenter_learning">
                    <em class="wzq_icon"></em>
                    我的课程
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
           <!--  <li class="wzq_left_nav_item">
                <a href="personalCenter_homework">
                    <em class="wzq_icon"></em>
                    作业上传
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li> -->
            <li class="wzq_left_nav_item">
                <a href="myGrowthSystem" >
                    <em class="wzq_icon"></em>
                    职业导航
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <li class="wzq_left_nav_item">
                <a href="javascript:;"  class="wzq_nav_item_active">
                    <em class="wzq_icon"></em>
                    邀请码
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <li class="wzq_left_nav_item">
                <a href="personalCenter_jifen">
                    <em class="wzq_icon"></em>
                    我的积分
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
        </ul>
    </div>
    <!--左侧导航结束-->


    <div class="wzq_main_r">
        <!--输入邀请码-->
        <div class="input_code">
           <input type="text" placeholder="请输入邀请码">
           <button>立即激活</button>
        </div>

        <div class="wzq_content wqf_invitation">
           <div class="posit">
               <p>没有邀请码</p>
               <a href="javascript:;">去了解</a>
           </div>
        </div>
    </div>
</div>


<!-- 底部 -->
<div id="public_footer" th:include="backend/wy_footer :: foot"></div>
<script th:include="backend/wy_header :: js_foot"></script>  
<!-- <div th:include="backend/wy_footer"></div>  -->
<!-- 底部  结束 -->

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/wzq_work.js"></script>
<script src="js/layer.js"></script>
<script>
    $(".wzq_main_r button").click(function(){
		$.ajax({
			url: 'useCDKey',
			method: 'POST',
			data: {
				CDKey: $(".wzq_main_r input").val(),
				userId: null
			},
			success(d){
				if(d.code==200){
					layer.msg(d.message)
				}else{
					layer.msg(d.message);
				}
			}
		})
    })
</script>
</body>
</html>