<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>飞鱼平台-课程详情</title>
	<meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="keywords" content="飞鱼平台" />
    <meta name="description" content="飞鱼平台" />
    <link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/cp_comment.css">
	<link rel="stylesheet" href="css/wqf_chapter.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_614432_t2xlvt8n4ody4x6r.css">
</head>
<body>
	<!-- 面包屑导航 -->
    <div class="cp_head">
        <div class="cp_breadCrumb">
            <a href="index">首页</a>
            <i class='fy_icon'>&#xe604;</i>
            <a href="findCourse">找课程</a>
            <i class='fy_icon'>&#xe604;</i>
            <a href="#">课程详情</a>
        </div>
    </div>
    <!-- 面包屑导航结束 -->

	<!-- 产品详情 -->
	<div class="cp_product">
		<div class="con_left">
            <a href="#">
                <img src="images/cp_10.png" th:src="${course.course_image_address}">
            </a>  
        </div>
        <div class="con_right">
            <div class="con_son1">
                <h3  th:text="${course.course_name}" >Python课程初探</h3>
                <a href="#" class='group'>
                    <img src="images/cp_11.png">
                    <span>
                        加群咨询
                    </span>
                </a>
                <div class="share">
                    分享到
                    <a href="#">
                        <i class='fy_icon'>&#xe63d;</i>
                    </a>
                    <a href="#">
                        <i class='fy_icon'>&#xe60b;</i>
                    </a>
                    <a href="#" class='wechat' >
                        <i class='fy_icon'>&#xe65b;</i>
                    </a>
                </div>
            </div>
            <div th:text="${course.course_info}" class="con_son2" >
                Python是什么？豆瓣和Youtube是用它开发的；美国最流行的三大服务器开发语言之一，最工整最严谨的编程语言，取代Java和PHP的开源趋势语言。 
            </div>
            <div class="con_son3">
                <span>
                    学习人数
                    <b th:text="${course.student_count}">899</b>
                </span>
                <span>
                    课程时长
                    <b >160分钟</b>
                </span>
                <span>
                    点赞
                    <b>10</b>
                </span>
            </div>
            <div class="con_son4">
               本节价格<b th:text="${course.course_price == 0 ? '免费':course.course_price}">300</b><span th:text="${course.course_price == 0 ? '':'元'}">元</span>
            </div>
            <div class="con_son5">
               <a href="#" class='putchase' th:class="${course.course_price == 0 ? '':'putchase'}" th:text="${course.course_price == 0 ? '':'立即购买'}">
                   立刻购买
               </a>
               <a href="#" class='study'>
                   去学习
               </a>
               <a href="#" th:text="${course.course_price == 0 ? '':'试听一节课'}">试听5分钟</a>
            </div>
        </div>


	</div>

    <!-- 状态导航开始-->
    <div class="wqf_content">
        <div class="wzq_r_tit">
            <div class="wzq_tit_item wzq_tit_item_active">
                <a href="#"><span>章节</span></a>
                <div class="wzq_tit_bor"></div>
            </div>
		<!-- 课程评论    未实现 -->
		<div class="wzq_tit_item">
                <a href="course_comment" th:href="'course_comment?courseId='+${course.id}"><span>评论</span></a>
                <div class="wzq_tit_bor"></div>
            </div> 
            
<!-- 作业展示   未实现 -->
<!--        <div class="wzq_tit_item">
                <a href="course_jobDisplay"><span>作业展示</span></a>
                <div class="wzq_tit_bor"></div>
            </div> -->
        </div>
    </div>
    <!-- 状态导航结束-->

    <!-- 章节列表开始 -->
    <div class="wqf_chapter clear_both">
        <div class="container">
            <ul class="wqf_chapter_list"> 
                <li th:each="hd,iterStat:${chapterTitleList}">
                    <h2 class="title">
                        <i class="icon">=</i>
                        <span th:text="${hd.chapter_title}">第一章 SpringBoot简介</span>
                    </h2>
                    <ul class="list">
                        <li th:each="c:${chapter0}">
                            <a href="course_video" th:href="'course_video?chapterId='+${c.id}">
                                <i class="fy_icon">&#xe629;</i>
                                <span th:text="${c.chapter_name}">1-1 SpringBoot简介</span>
                                <span class="time">20:20</span>
                                <span class="tishi">免费试听5分钟 <i>→</i></span>
                            </a>
                            <p class="hidd_more">主要讲解常用色彩属性，以及网络上比较流行的一些配色方法总结，未来流行配色趋势。主要讲解常用色彩属性，以及网络上比较流行的一些配色方法总结，未来流行配色趋势。</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="title">
                        <i class="icon">=</i>
                        <span>第二章 SpringBoot简介</span>
                    </h2>
                    <ul class="list">
                        <li>
                            <a href="javascript:;">
                                <i class="fy_icon">&#xe629;</i>
                                1-1 SpringBoot简介
                                <span class="time">20:20</span>
                                <span class="tishi">免费试听5分钟 <i>→</i></span>
                            </a>
                            <p class="hidd_more">主要讲解常用色彩属性，以及网络上比较流行的一些配色方法总结，未来流行配色趋势。主要讲解常用色彩属性，以及网络上比较流行的一些配色方法总结，未来流行配色趋势。</p>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fy_icon">&#xe629;</i>
                                1-1 SpringBoot简介
                                <span class="time">20:20</span>
                                <span class="tishi">免费试听5分钟 <i>→</i></span>
                            </a>
                            <p class="hidd_more">主要讲解常用色彩属性，以及网络上比较流行的一些配色方法总结，未来流行配色趋势。主要讲解常用色彩属性，以及网络上比较流行的一些配色方法总结，未来流行配色趋势。</p>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fy_icon">&#xe629;</i>
                                1-1 SpringBoot简介
                                <span class="time">20:20</span>
                                <span class="tishi">免费试听5分钟 <i>→</i></span>
                            </a>
                            <p class="hidd_more">主要讲解常用色彩属性，以及网络上比较流行的一些配色方法总结，未来流行配色趋势。主要讲解常用色彩属性，以及网络上比较流行的一些配色方法总结，未来流行配色趋势。</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="title">
                        <i class="icon">=</i>
                        <span>第三章 SpringBoot简介</span>
                    </h2>
                    <ul class="list">
                        <li>
                            <a href="javascript:;">
                                <i class="fy_icon">&#xe629;</i>
                                1-1 SpringBoot简介
                                <span class="time">20:20</span>
                                <span class="tishi">免费试听5分钟 <i>→</i></span>
                            </a>
                            <p class="hidd_more">主要讲解常用色彩属性，以及网络上比较流行的一些配色方法总结，未来流行配色趋势。主要讲解常用色彩属性，以及网络上比较流行的一些配色方法总结，未来流行配色趋势。</p>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fy_icon">&#xe629;</i>
                                1-1 SpringBoot简介
                                <span class="time">20:20</span>
                                <span class="tishi">免费试听5分钟 <i>→</i></span>
                            </a>
                            <p class="hidd_more">主要讲解常用色彩属性，以及网络上比较流行的一些配色方法总结，未来流行配色趋势。主要讲解常用色彩属性，以及网络上比较流行的一些配色方法总结，未来流行配色趋势。</p>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="wqf_teacher_message">
                <!-- 
                    只需更换行内 图片地址即可更换 用户头像
                 -->
                <div class="head_img" style="background: url(images/wqf_user.png) no-repeat center /cover;" th:style="'background: url('+${teacher.teacher_image}+') no-repeat center /cover;'">
                </div>
                <h2 th:text="${teacher.teacher_name}">王起帆</h2>
                <p class="type" th:text="${teacher.teacher_position}">全栈工程师</p>
                <p class="message" th:text="${teacher.teacher_info}">基本必备：JAVA基础，spring基础，对json，redis有一定的了解
                老师告诉你能学到什么？
                了解springboot如何从零搭开始搭建一个工程。
                springboot系统架构体系            
                springboot与各个技术点的整合</p>
            </div>
        </div>
    </div>


    <!-- 章节列表结束 -->



</body>
</html>