<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>飞鱼平台</title>
	<meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="keywords" content="飞鱼平台" />
    <meta name="description" content="飞鱼平台" />
    <link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/public_header.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_614432_35sjs0mry3c8fr.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/headerfooter.js"></script>
</head>
<body>
	<!-- 底部 开始 -->
	<div id="public_footer">
		<div class="container">
			<!-- 联系方式 -->
			<div class="tel_message">
				<p>热线电话</p>
				<p>029-87566140</p>
				<p>分享至</p>
				<p>
					<a href="javascript:;" class="fy_icon" title="微信">&#xe65b;</a>
					<a href="javascript:;" class="fy_icon" title="QQ">&#xe60b;</a>
					<a href="javascript:;" class="fy_icon" title="微博">&#xe62f;</a>
				</p>
			</div>
			
			<!-- 帮助链接 -->
			<div class="help_list clear_both">
				<ul>
					<li>帮助中心</li>
					<li><a href="javascript:;">常见问题</a></li>
					<li><a href="javascript:;">故障反馈</a></li>
					<li><a href="javascript:;">在线客服</a></li>
					<li><a href="javascript:;">服务条款</a></li>
				</ul>
				<ul>
					<li>找课程</li>
					<li><a href="javascript:;">免费课程</a></li>
					<li><a href="javascript:;">9.9元课</a></li>
					<li><a href="javascript:;">直播课程</a></li>
					<li><a href="javascript:;">系列课程</a></li>
				</ul>
				<ul>
					<li>帮助中心</li>
					<li><a href="javascript:;">常见问题</a></li>
					<li><a href="javascript:;">故障反馈</a></li>
					<li><a href="javascript:;">在线客服</a></li>
					<li><a href="javascript:;">服务条款</a></li>
				</ul>
				<ul>
					<li>找课程</li>
					<li><a href="javascript:;">免费课程</a></li>
					<li><a href="javascript:;">9.9元课</a></li>
					<li><a href="javascript:;">直播课程</a></li>
					<li><a href="javascript:;">系列课程</a></li>
				</ul>
				<ul>
					<li>找课程</li>
					<li><a href="javascript:;">免费课程</a></li>
					<li><a href="javascript:;">9.9元课</a></li>
					<li><a href="javascript:;">直播课程</a></li>
					<li><a href="javascript:;">系列课程</a></li>
				</ul>
			</div>
			
			<!-- 二维码 -->
			<div class="qr_code">
				<img src="images/footer_qr.png" >
				<img src="images/footer_qr.png" >
			</div>
			
		</div>
		<p class="record">Copyright © 2013 qinxue.com, 湘ICP备13012319号-1</p>
	</div>
	<!-- 底部 结束 -->

</body>

