<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>飞鱼平台</title>
	<meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="keywords" content="飞鱼平台" />
    <meta name="description" content="飞鱼平台" />
    <link rel="shortcut icon" href="favicon.ico" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/public_header.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_614432_35sjs0mry3c8fr.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/headerfooter.js"></script>
</head>
<body>
	<!-- 头部 开始 -->
	<div id="public_header" >
		<div class="container">
			<!-- logo -->
			<a href="index.html;"><img src="images/header_logo.png" alt=""></a>
			
			<!-- 导航 开始 -->
			<ul class="menu">
				<li>
					<a href="javascript:;">
						<i class="fy_icon">&#xe60c;</i>
						找课程
					</a>
				</li>
				<li>
					<a href="javascript:;">职业导航</a>
				</li>
				<li>
					<a href="javascript:;">免费课</a>
				</li>
				<li>
					<a href="javascript:;">
						直播课
						<!-- <i class="fy_icon">icon</i> -->
						<img src="images/header_zhibo.png">
					</a>
				</li>
				<li>
					<a href="javascript:;">线下课程</a>
				</li>
				<li class="search">
					<input type="text" placeholder="请输入您想要了解的课程">

					<!-- 点击 按键发送ajax请求进行搜索 -->
					<i class="fy_icon" id="header_search">&#xe64d;</i>
					<!-- 点击搜索下方展开的容器 -->
					<div class="alert_box">
						<!-- 联想词 -->
						<div class="association">
							<a href="javascript:;">UI设计</a>
							<a href="javascript:;">全栈工程师</a>
							<a href="javascript:;">产品经理</a>
							<a href="javascript:;">Python全栈</a>
						</div>
						<!-- 历史记录 -->
						<ul>
							<li><a href="javascript:;">全栈工程师</a></li>
							<li><a href="javascript:;">全栈工程师</a></li>
							<li><a href="javascript:;">清除搜索历史</a></li>
						</ul>
					</div>
				</li>
			</ul>
			<!-- 导航 结束 -->

				<!-- 登录状态 开始-->
			<div class="is_login">
				<!-- 已登陆 -->
				<!-- 包含 类名 active则显示,否则隐藏 -->
				<div class="login_yes active" th:class="${headLogin_yes}">
					<div class="message">
						<a href="javascript:;" class="fy_icon">&#xe61d;</a>
						<!-- 消息数 -->
						<span th:text="${headnotificationSize}">2</span>
						<!-- 消息弹框 -->
						<div class="message_box">
							<header>
								<span>消息中心</span>
								<span id="clearNotification">清空</span>
								<input type="hidden" th:value="${userId}" name="userId" id="userId">
							</header>
							<ul>
								<li th:each="eachnotification:${headnotificationList}">
									<a href="javascript:;" class="clear_both">
										<span th:text="${eachnotification.notification_type} == 0 ? '【通知】' : '【公告】'">【私信】</span>
										<span class="hidd_more2" th:text="${eachnotification.notification_content}">第一届logo设计大赛正式开启</span>
									</a>
								</li>
								<!-- <li>
									<a href="javascript:;" class="clear_both">
										<span>【通知】</span>
										<span class="hidd_more2">管理员温馨提示，您已经登陆，快来上课吧。</span>
									</a>
								</li>
								<li>
									<a href="javascript:;" class="clear_both">
										<span>【私信】</span>
										<span class="hidd_more2">第一届logo设计大赛正式开启</span>
									</a>
								</li> -->
								<li>
									<a href="personalCenter_allnotice" class="clear_both">
										查看全部
									</a>
								</li>
							</ul>
						</div>
					</div>
					<span class="line"></span>
					<div class="self">
						<img src="images/wqf_user.png" th:src="${head_image}">
	
						<!-- 消息弹框 -->
						<div class="message_box">
							<h3 th:text="${headUserName}">游客</h3>
							<ul>
								<li>
									<a href="personalCenter_jifen">我的积分</a>
								</li>
								<li>
									<a href="personalCenter_homework">我的作业</a>
								</li>
								<li>
									<a href="personalCenter_learning">我的课程</a>
								</li>
								<li>
									<a href="personal_basic">我的资料</a>
								</li>
							</ul>
							<a href="logout"><h3>退出账号</h3></a>
						</div>
					</div>
				</div>
	
				<!-- 未登录 -->
				<div class="login_no" th:class="${headLogin_no}">
					<a href="login">登录</a>
					<span class="line"></span>
					<a href="register">注册</a>
				</div>
			</div>
			<!-- 登录状态 结束-->
	
		</div>
	</div>
	<!-- 头部 结束 -->

</body>

