<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>飞鱼平台-作业上传</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/wzq_list_public.css">
    <link rel="stylesheet" href="css/wqf_list_public.css">
    <link rel="stylesheet" href="css/wzq_work.css">
    <link rel="stylesheet" href="css/wzq_list_work_upload.css">
</head>
<body>
<!--banner处信息开始-->
<div class="wzq_learning_banner" style="background: url(images/wzq_learning_banner.jpg) no-repeat center/cover">
    <div class="wzq_inside">
        <div class="wzq_user wzq_clear">
            <div class="wzq_user_img" style="background:url(images/wqf_user.png) no-repeat center /cover;"></div>
            <div class="wzq_user_info">
                <h3 class="wzq_user_info_name"><span id="wzq_user_name">杉泽小哥</span></h3>
                <h4 class="wzq_user_info_con">
                    <span>男</span>|
                    <span>泸州</span>|
                    <span>艺术工作者</span>
                </h4>
            </div>
        </div>
        <div class="wzq_study_info">
            <div class="wzq_study_item">
                <span>学习时长</span>
                <em>200</em>
                分钟
            </div>
            <div class="wzq_study_item">
                <span>我的积分</span>
                <em>200</em>
            </div>
            <div class="wzq_study_item">
                <span>签到</span>
                <em>200</em>
                天
            </div>
        </div>
    </div>
</div>
<!--banner处信息结束-->
<div class="wzq_main wzq_inside wzq_clear">
    <!--左侧导航开始-->
    <div class="wzq_main_l">
        <ul class="wzq_left_nav">
            <li class="wzq_left_nav_item">
                <a href="personalCenter_notice" >
                    <em class="wzq_icon"></em>
                    我的消息
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <li class="wzq_left_nav_item">
                <a href="personalCenter_learning">
                    <em class="wzq_icon"></em>
                    我的课程
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <li class="wzq_left_nav_item">
                <a href="javascript:;" class="wzq_nav_item_active">
                    <em class="wzq_icon"></em>
                    作业上传
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <li class="wzq_left_nav_item">
                <a href="personalCenter_zhiye" >
                    <em class="wzq_icon"></em>
                    职业导航
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <li class="wzq_left_nav_item">
                <a href="personalCenter_invitation" >
                    <em class="wzq_icon"></em>
                    邀请码
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <li class="wzq_left_nav_item">
                <a href="personalCenter_jifen" >
                    <em class="wzq_icon"></em>
                    我的积分
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
        </ul>
    </div>
    <!--左侧导航结束-->
    <div class="wzq_main_r">
        <!--三种学习状态导航开始-->
        <div class="wzq_r_tit clear_both">
            <div class="wzq_tit_left clear_both">
                <div class="wzq_tit_top clear_both">
                    <div class="wzq_tit_item wzq_tit_item_active">
                        <span>我的作业</span>
                        <div class="wzq_tit_bor"></div>
                    </div>
                </div>
                <ul class="wzq_tit_list clear_both">
                    <li class="wzq_tit_li">
                        状态
                    </li>
                    <li class="wzq_tit_li wzq_tit_li_active">
                        <a href="">
                            全部
                        </a>
                    </li>
                    <li class="wzq_tit_li">
                        <a href="">
                            待审核
                        </a>
                    </li>
                    <li class="wzq_tit_li">
                        <a href="">
                            已通过
                        </a>
                    </li>
                    <li class="wzq_tit_li">
                        <a href="">
                            未通过
                        </a>
                    </li>
                </ul>
                <a href="personalCenter_uploadHomework" class="wzq_work_upload_btn">作业上传</a>
            </div>
        </div>
        <!--三种学习状态导航结束-->
        <div class="wzq_mbx">
            <span>共发布11组作业</span>
        </div>
        <div class="wzq_content">
            <!--作业列表开始-->
            <ul class="wzq_work_content_list wzq_clear">
                <li class="wzq_work_content_item">
                    <a href="">
                        <div class="wzq_work_item_img">
                            <img src="images/wzq_work_img.jpg" alt="">
                        </div>
                        <h5 class="wzq_work_item_title hidden_one">飞鱼平台网页</h5>
                        <h6 class="wzq_work_item_info"><span>网页-企业官网</span> <span>2018.03.11</span></h6>
                    </a>
                    <p class="wzq_work_item_status">
                        <span class="wzq_work_comment"><i class="fy_icon">&#xe679;</i>2</span>
                        <span class="wzq_work_zan wzq_work_zanend"><i class="fy_icon">&#xe6b3;</i>1</span>
                    </p>
                    <div class="wzq_work_item_edit">
                        <a href="" class="wzq_work_edit">编辑</a>
                        <div class="wzq_work_del">
                            <span>删除</span>
                            <div class="wzq_del_or">
                                <span>删除</span>
                                <span>取消</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="wzq_work_content_item">
                    <a href="">
                        <div class="wzq_work_item_img">
                            <img src="images/wzq_work_img.jpg" alt="">
                        </div>
                        <h5 class="wzq_work_item_title hidden_one">飞鱼平台网页</h5>
                        <h6 class="wzq_work_item_info"><span>网页-企业官网</span> <span>2018.03.11</span></h6>
                    </a>
                    <p class="wzq_work_item_status">
                        <span class="wzq_work_comment"><i class="fy_icon">&#xe679;</i>2</span>
                        <span class="wzq_work_zan "><i class="fy_icon">&#xe6b3;</i>1</span>
                    </p>
                    <div class="wzq_work_item_edit">
                        <a href="" class="wzq_work_edit">编辑</a>
                        <div class="wzq_work_del">
                            <span>删除</span>
                            <div class="wzq_del_or">
                                <span>删除</span>
                                <span>取消</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="wzq_work_content_item">
                    <a href="">
                        <div class="wzq_work_item_img">
                            <img src="images/wzq_work_img.jpg" alt="">
                        </div>
                        <h5 class="wzq_work_item_title hidden_one">飞鱼平台网页</h5>
                        <h6 class="wzq_work_item_info"><span>网页-企业官网</span> <span>2018.03.11</span></h6>
                    </a>
                    <p class="wzq_work_item_status">
                        <span class="wzq_work_comment"><i class="fy_icon">&#xe679;</i>2</span>
                        <span class="wzq_work_zan "><i class="fy_icon">&#xe6b3;</i>1</span>
                    </p>
                    <div class="wzq_work_item_edit">
                        <a href="" class="wzq_work_edit">编辑</a>
                        <div class="wzq_work_del">
                            <span>删除</span>
                            <div class="wzq_del_or">
                                <span>删除</span>
                                <span>取消</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="wzq_work_content_item">
                    <a href="">
                        <div class="wzq_work_item_img">
                            <img src="images/wzq_work_img.jpg" alt="">
                        </div>
                        <h5 class="wzq_work_item_title hidden_one">飞鱼平台网页</h5>
                        <h6 class="wzq_work_item_info"><span>网页-企业官网</span> <span>2018.03.11</span></h6>
                    </a>
                    <p class="wzq_work_item_status">
                        <span class="wzq_work_comment"><i class="fy_icon">&#xe679;</i>2</span>
                        <span class="wzq_work_zan "><i class="fy_icon">&#xe6b3;</i>1</span>
                    </p>
                    <div class="wzq_work_item_edit">
                        <a href="" class="wzq_work_edit">编辑</a>
                        <div class="wzq_work_del">
                            <span>删除</span>
                            <div class="wzq_del_or">
                                <span>删除</span>
                                <span>取消</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="wzq_work_content_item">
                    <a href="">
                        <div class="wzq_work_item_img">
                            <img src="images/wzq_work_img.jpg" alt="">
                        </div>
                        <h5 class="wzq_work_item_title hidden_one">飞鱼平台网页</h5>
                        <h6 class="wzq_work_item_info"><span>网页-企业官网</span> <span>2018.03.11</span></h6>
                    </a>
                    <p class="wzq_work_item_status">
                        <span class="wzq_work_comment"><i class="fy_icon">&#xe679;</i>2</span>
                        <span class="wzq_work_zan "><i class="fy_icon">&#xe6b3;</i>1</span>
                    </p>
                    <div class="wzq_work_item_edit">
                        <a href="" class="wzq_work_edit">编辑</a>
                        <div class="wzq_work_del">
                            <span>删除</span>
                            <div class="wzq_del_or">
                                <span>删除</span>
                                <span>取消</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="wzq_work_content_item">
                    <a href="">
                        <div class="wzq_work_item_img">
                            <img src="images/wzq_work_img.jpg" alt="">
                        </div>
                        <h5 class="wzq_work_item_title hidden_one">飞鱼平台网页</h5>
                        <h6 class="wzq_work_item_info"><span>网页-企业官网</span> <span>2018.03.11</span></h6>
                    </a>
                    <p class="wzq_work_item_status">
                        <span class="wzq_work_comment"><i class="fy_icon">&#xe679;</i>2</span>
                        <span class="wzq_work_zan "><i class="fy_icon">&#xe6b3;</i>1</span>
                    </p>
                    <div class="wzq_work_item_edit">
                        <a href="" class="wzq_work_edit">编辑</a>
                        <div class="wzq_work_del">
                            <span>删除</span>
                            <div class="wzq_del_or">
                                <span>删除</span>
                                <span>取消</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!--作业列表结束-->
            <!--分页开始-->
            <div class="wzq_page">
                <a href="" class="wzq_page_index">首页</a>
                <a href="" class="wzq_page_prev">上一页</a>
                <a href="" class="wzq_page_active">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a href="">6</a>
                <a href="" class="wzq_page_next">下一页</a>
                <a href="" class="wzq_page_last">尾页</a>
            </div>
            <!--分页结束-->
        </div>
    </div>
</div>


<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/wzq_list_work_upload.js"></script>
</body>
</html>