<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>飞鱼平台</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="飞鱼平台" />
    <meta name="description" content="飞鱼平台" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/wzq_list_public.css">
    <link rel="stylesheet" href="css/wqf_list_public.css">
    <link rel="stylesheet" href="css/wzq_zhiye.css">
</head>
<body>
<!--banner处信息开始-->
<div th:include="backend/wy_header" ></div>
<!--banner处信息开始-->
<div class="wzq_learning_banner" style="background: url(images/wzq_learning_banner.jpg) no-repeat center/cover">
    <div class="wzq_inside">
        <div class="wzq_user wzq_clear">
            <div class="wzq_user_img" style="background:url(images/wqf_user.png) no-repeat center /cover;"></div>
            <div class="wzq_user_info">
                <h3 class="wzq_user_info_name"><span th:text="${user_name}" id="wzq_user_name">杉泽小哥</span></h3>
                <h4 class="wzq_user_info_con">
                    <span th:text="${userInfo.gender}">男</span>|
                    <a href="personal_basic" style="color:#fff; margin-left:3px;">账号设置<span class="fy_icon">&#xe604;</span></a>
                </h4>
            </div>
        </div>
        <div class="wzq_study_info">
            <!-- <div class="wzq_study_item">
                <span>学习时长</span>
                <em>200</em>
                分钟
            </div> -->
            <div class="wzq_study_item">
                <span>我的积分</span>
                <em th:text="${integralNum}">200</em>
            </div>
            <div class="wzq_study_item">
                <span>签到</span>
                <em th:text="${siginDay}">200</em>
                天
            </div>
        </div>
    </div>
</div>
<!--banner处信息结束-->
<div class="wzq_main wzq_inside wzq_clear">
     <!--左侧导航开始-->
    <div class="wzq_main_l">
        <ul class="wzq_left_nav">
            <li class="wzq_left_nav_item">
                <a href="personalCenter_notice" >
                    <em class="wzq_icon"></em>
                    我的消息
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <li class="wzq_left_nav_item">
                <a href="personalCenter_learning">
                    <em class="wzq_icon"></em>
                    我的课程
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <!-- <li class="wzq_left_nav_item">
                <a href="personalCenter_homework">
                    <em class="wzq_icon"></em>
                    作业上传
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li> -->
            <li class="wzq_left_nav_item">
                <a href="myGrowthSystem" class="wzq_nav_item_active">
                    <em class="wzq_icon"></em>
                    职业导航
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <li class="wzq_left_nav_item">
                <a href="personalCenter_invitation" >
                    <em class="wzq_icon"></em>
                    邀请码
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
            <li class="wzq_left_nav_item">
                <a href="personalCenter_jifen">
                    <em class="wzq_icon"></em>
                    我的积分
                    <i class="fy_icon"> &#xe604; </i>
                </a>
            </li>
        </ul>
    </div>
    <!--左侧列表结束-->
    <div class="wzq_main_r">
        <div class="wzq_zhiye_mbx">
            <span th:text="'全部职业导航 '+${count}">全部职业导航 2</span>
            <label for=""><input type="text" placeholder="请输入您需要查看的课程"><i class="fy_icon">&#xe64d;</i></label>
        </div>
        <ul class="wzq_zhiye_list clear_both">
            <li class="wzq_zhiye_item wzq_zhiye_item_active" data-zhiye-flag="false" th:each="growthClassAndStage:${growthClassAndStageList}">
                <div class="wzq_zhiye_item_top">
                <a th:href="'growth_system?growthClassId='+${growthClassAndStage.growthClassId}">
                    <div class="wzq_zhiye_item_img"><img src="images/wzq_work_img.jpg" alt="" th:src="${growthClassAndStage.growthClassImage}"></div>
                    <div class="wzq_zhiye_item_info">
                        <h4 th:text="${growthClassAndStage.growthClassTitle}">UI设计进阶之路</h4>
                        <h5 th:text="${growthClassAndStage.growthClassSendword}">距离成为一个UI设计师，你还差了30%的距离</h5>
                        <p class="wzq_zhiye_info_p" th:text="${growthClassAndStage.growthClassDescription}">树立设计师意识，了解UI发展规律及就业前景，并通过本阶段的学习能独立完成图标作品设计、平面作品设计及手绘作品设计等。</p>
                        <p class="wzq_zhiye_info_p2">
                            <em>正在学习</em>
                            <!-- <b>用时20分</b> -->
                            <span th:text="${growthClassAndStage.studyChapter}?'学习至'+${growthClassAndStage.studyChapter.chapter_name}:''">学习至1-1Python课程初探</span>
                        </p>
                    </div>
                    </a>
                    <div class="wzq_zhiye_icon"><i class="fy_icon">&#xe618;</i></div>
                </div>
                <div class="wzq_zhiye_item_con">
                    <div class="wzq_zhiye_con_item" th:each="growthStageAndCourse:${growthClassAndStage.growthStageAndCourseList}">
                        <div class="wzq_zhiye_con_num" th:text="${growthStageAndCourse.growthStageNumber}">
                            01
                        </div>
                        <div class="wzq_zhiye_con_r">
                            <div class="wzq_zhiye_con_info">
                                <h6 th:text="${growthStageAndCourse.growthStageTitle}">视觉设计基础篇</h6>
                                <p class="hidd_more2"  th:text="${growthStageAndCourse.growthStageDescription}">掌握UI设计工具的使用后，通过学习素描光影关系、色彩原理与搭配及构图原理，打好成为UI设计师的美术造型基础和树立色彩审美意识</p>
                            </div>
                            <div class="wzq_zhiye_con_btn" th:style="${growthClassAndStage.studyChapter} and ${growthStageAndCourse.studying}?'':'display:none'">
                                <span>上次学到这里</span>			
                                <a th:href="${growthClassAndStage.studyChapter}?'course_video?chapterId='+${growthClassAndStage.studyChapter.id}:''">继续学习</a>
                            </div>
                            <!-- 课程列表 -->
                            <ul class="wqf_classlist">
                                <li th:each="course:${growthStageAndCourse.courseList}"><a th:href="'course_chapter?courseId='+${course.id}">
                                    <span></span>
                                    <span th:text="${course.course_name}">课程名称</span>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="wzq_main_r">
        <div class="wzq_zhiye_no_nav_con">
            <span>没有学习路径</span>
            <a href="growth_system">去了解</a>
        </div>
    </div>
</div>
<div th:include="backend/wy_footer"></div> 
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/wzq_zhiye.js"></script>
</body>
</html>
