<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>飞鱼平台</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="keywords" content="飞鱼平台" />
    <meta name="description" content="飞鱼平台" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/wzq_show_work.css">
</head>
<body>
    <!--文章页标题信息开始-->
    <div class="wzq_big">
        <div id="wzq_mbx" class="wzq_inside">
            <a href="">首页</a> >
            <a href="">个人中心</a> >
            <span>作业上传</span>
        </div>
        <div class="wzq_show_work wzq_inside">
            <div class="wzq_show_work_tit wzq_clear">
                <div class="wzq_show_tit_l">
                    <div class="wzq_show_title">
                        <h1 class="hidden_one">中国百鬼风生兽···（附简易过程）</h1>
                        <div class="wzq_source">
                            <span>21小时前发布</span>
                        </div>
                        <p class="wzq_show_description hidd_more">
                            【中国百鬼】风生兽······《海内十洲记·炎洲》：“上有风生兽，似豹，青色，大如貍···而张口向风，须臾复活。”
                        </p>
                    </div>
                </div>
                <div class="wzq_show_tit_r">
                    <div class="wzq_show_tit_img">
                        <img src="images/wzq_work_img.jpg" alt="">
                    </div>
                    <div class="wzq_show_tit_info">
                        <h3 class="wzq_user_info_name"><span id="wzq_user_name">杉泽小哥</span></h3>
                        <h4 class="wzq_user_info_con hidden_one">
                            <span>男</span>|
                            <span>泸州</span>|
                            <span>艺术工作者</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--文章页标题信息结束-->

    <!--文章页内容开始-->
    <div class="wzq_article wzq_inside">
        <div class="wzq_article_img">
            <img src="images/wzq_article_img.jpg" alt="">
            <img src="images/wzq_article_img.jpg" alt="">
        </div>
    </div>
    <!--文章页内容结束-->

    <!--文章页评论区开始-->
    <div class="wzq_big">
        <div class="wzq_inside">
            <div class="wzq_relative wzq_clear">
                <b>标签</b><span>商业插画</span>
            </div>
            <div class="wzq_show_comment">
                <div class="wzq_show_comment_num">全部评论 <em>20</em></div>
                <!--添加评论列表开始-->
                <div class="wzq_show_comment_add">
                    <form action="" class="wzq_add_form wzq_clear">
                        <div class="wzq_clear">
                            <div class="wzq_user_img">
                                <img src="images/wzq_user_img.jpg" alt="">
                            </div>
                            <div class="wzq_textarea">
                                <textarea name="" id="wzq_textarea" onfocus="if(value=='快来发布评论吧...') {value=''}" onblur="if(value=='') {value='快来发布评论吧...'}">快来发布评论吧...</textarea>
                            </div>
                        </div>
                        <div class="wzq_icon_add">
                            <span data-icon-flag="true">添加表情</span>
                            <div class="wzq_icon_box">

                            </div>
                        </div>
                        <div class="wzq_add_submit"><input type="submit" value="发表评论"></div>
                    </form>
                </div>
                <!--添加评论列表结束-->
                <!--评论列表开始-->
                <ul class="wzq_show_comment_list">
                    <li class="wzq_show_comment_item">
                        <div class="wzq_clear">
                            <div class="wzq_user_img">
                                <img src="images/wzq_user_img.jpg" alt="">
                            </div>
                            <!--评论区内容开始，回复评论区时候，添加此节点-->
                            <div class="wzq_comment_item_info">
                                <h6 class="wzq_comment_item_title">也入耳朵</h6>
                                <span class="wzq_comment_item_time">5小时前</span>
                                <div class="wzq_comment_item_des">
                                    <p class="hidd_more">向手写大佬低头～向手写大佬低头～向手写大佬低头～效果图？太牛了吧。什么软件做的？？？？效果图？太牛了吧。什么软件做的？？？？</p>
                                    <div class="wzq_comment_reply">
                                        <span class="wzq_jubao"><i class="fy_icon">&#xe652;</i>举报</span>
                                        <span class="wzq_comment_replys" data-flag="true"><i class="fy_icon">&#xe679;</i></span>
                                        <span class="wzq_comment_zan wzq_comment_zanend"><i class="fy_icon">&#xe6b3;</i></span>
                                    </div>
                                </div>
                            </div>
                            <!--评论区内容结束-->
                        </div>
                        <!--评论区回复表单开始-->
                        <div class="wzq_reply">
                            <form action="" class="wzq_reply_form">
                                <div class="wzq_reply_text">
                                    <span>回复</span>
                                    <em class="wzq_reply_user hidden_one">小灰灰灰</em>
                                    <textarea class="wzq_reply_textarea" name="" onfocus="if(value=='请回复...') {value=''}" onblur="if(value=='') {value='请回复...'}">请回复...</textarea>
                                </div>
                                <div class="wzq_clear">
                                    <div class="wzq_icon_add">
                                        <span data-icon-flag="true">添加表情</span>
                                        <div class="wzq_icon_box">

                                        </div>
                                    </div>
                                    <div class="wzq_reply_submit"><input type="submit" value="回复"></div>
                                </div>
                            </form>
                        </div>
                        <!--评论区回复表单结束-->
                    </li>
                    <li class="wzq_show_comment_item">
                        <div class="wzq_clear">
                            <div class="wzq_user_img">
                                <img src="images/wzq_user_img.jpg" alt="">
                            </div>
                            <!--评论区内容开始，回复评论区时候，添加此节点-->
                            <div class="wzq_comment_item_info">
                                <h6 class="wzq_comment_item_title">也入耳朵</h6>
                                <span class="wzq_comment_item_time">5小时前</span>
                                <div class="wzq_comment_item_des">
                                    <p class="hidd_more">向手写大佬低头～向手写大佬低头～向手写大佬低头～效果图？太牛了吧。什么软件做的？？？？效果图？太牛了吧。什么软件做的？？？？</p>
                                    <div class="wzq_comment_reply">
                                        <span class="wzq_jubao"><i class="fy_icon">&#xe652;</i>举报</span>
                                        <span class="wzq_comment_replys" data-flag="true"><i class="fy_icon">&#xe679;</i></span>
                                        <span class="wzq_comment_zan wzq_comment_zanend"><i class="fy_icon">&#xe6b3;</i></span>
                                    </div>
                                </div>
                            </div>
                            <!--评论区内容结束-->
                        </div>
                        <!--评论区回复表单开始-->
                        <div class="wzq_reply">
                            <form action="" class="wzq_reply_form">
                                <div class="wzq_reply_text">
                                    <span>回复</span>
                                    <em class="wzq_reply_user hidden_one">小灰灰灰</em>
                                    <textarea class="wzq_reply_textarea" name="" onfocus="if(value=='请回复...') {value=''}" onblur="if(value=='') {value='请回复...'}">请回复...</textarea>
                                </div>
                                <div class="wzq_clear">
                                    <div class="wzq_icon_add">
                                        <span data-icon-flag="true">添加表情</span>
                                        <div class="wzq_icon_box">

                                        </div>
                                    </div>
                                    <div class="wzq_reply_submit"><input type="submit" value="回复"></div>
                                </div>
                            </form>
                        </div>
                        <!--评论区回复表单结束-->
                    </li>
                    <li class="wzq_show_comment_item">
                        <div class="wzq_clear">
                            <div class="wzq_user_img">
                                <img src="images/wzq_user_img.jpg" alt="">
                            </div>
                            <!--评论区内容开始，回复评论区时候，添加此节点-->
                            <div class="wzq_comment_item_info">
                                <h6 class="wzq_comment_item_title">也入耳朵</h6>
                                <span class="wzq_comment_item_time">5小时前</span>
                                <div class="wzq_comment_item_des">
                                    <p class="hidd_more">向手写大佬低头～向手写大佬低头～向手写大佬低头～效果图？太牛了吧。什么软件做的？？？？效果图？太牛了吧。什么软件做的？？？？</p>
                                    <div class="wzq_comment_reply">
                                        <span class="wzq_jubao"><i class="fy_icon">&#xe652;</i>举报</span>
                                        <span class="wzq_comment_replys" data-flag="true"><i class="fy_icon">&#xe679;</i></span>
                                        <span class="wzq_comment_zan wzq_comment_zanend"><i class="fy_icon">&#xe6b3;</i></span>
                                    </div>
                                </div>
                            </div>
                            <!--评论区内容结束-->
                        </div>
                        <!--评论区回复表单开始-->
                        <div class="wzq_reply">
                            <form action="" class="wzq_reply_form">
                                <div class="wzq_reply_text">
                                    <span>回复</span>
                                    <em class="wzq_reply_user hidden_one">小灰灰灰</em>
                                    <textarea class="wzq_reply_textarea" name="" onfocus="if(value=='请回复...') {value=''}" onblur="if(value=='') {value='请回复...'}">请回复...</textarea>
                                </div>
                                <div class="wzq_clear">
                                    <div class="wzq_icon_add">
                                        <span data-icon-flag="true">添加表情</span>
                                        <div class="wzq_icon_box">

                                        </div>
                                    </div>
                                    <div class="wzq_reply_submit"><input type="submit" value="回复"></div>
                                </div>
                            </form>
                        </div>
                        <!--评论区回复表单结束-->
                    </li>
                </ul>
                <!--评论列表结束-->
                <div class="wzq_show_comment_more">
                    <div class="wzq_show_more">
                        <span>查看更多评论</span>
                        <i class="fy_icon">&#xe98f;</i>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--文章页评论区结束-->



    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/wzq_show_work.js"></script>
</body>
</html>